[2019-03-08 05:12] bitjson commented on #385
For anyone following this issue, I strongly recommend you check out [oclif](https://github.com/oclif/oclif).

It's extremely well-designed, and the autocompletion is fantastic.

[2019-03-08 05:24] ozbillwang opened #926 "What's the meaning of 'true' here?"
I follow the sample and give a wrong drink
[code]

What's the meaning of `true` here?

How do I write code to identify, if drink's value is not `coke|pepsi|izze`, exit(-1).

[2019-03-08 07:41] vanesyan commented on #925
@tj we are still waiting for you ;)

[2019-03-08 20:39] vlikin commented on #806
I have 2.19.0 The async actions are not managed well.

[2019-03-08 21:58] vlikin commented on #806
I looked in the code. I see it is not prepared for async chaining at all. EventEmmiter is used to execute a command. Is a strategy pattern enough? Do contributors have plans to adjust it to be chainable?

[2019-03-08 22:01] shadowspawn commented on #806
I am not certain this answers the question for a real program, but here is the sample code working for me:

`index.ts`
[code]

[code]

[2019-03-08 22:22] vlikin opened #927 "Jasmine Mocha Support"
Convert tests to a more standard way. It is very hard to add new features to for external developers. Your library provides enough functionality. But it is not so well maintainable.

[2019-03-08 22:52] shadowspawn commented on #926
The `true` means `drink` was specified as an option, but with no (valid) value. Like calling:

[code]

I suggest you don't use the pattern in the `.option` call and check the option value yourself after calling parse. I also suggest putting the allowed values in the description so it appears in the help.

[2019-03-08 22:59] shadowspawn commented on #927
Thanks for the feedback. I was actually doing some research on this just yesterday, and can refer you to #649

[2019-03-09 03:03] shadowspawn commented on #914
Thanks for taking the time to provide a customised example in your reply @vanesyan

There is actually an example of this in the `README` @mtrabelsi, down the bottom:
https://github.com/tj/commander.js#examples

[code]

[2019-03-11 04:50] ozbillwang commented on #926
should we change `true` to something else? It really confused me. `True` makes the feeling, something happen and it is correct.

I would prefer to exist directly, if this drink is not in the list.

[2019-03-11 07:21] shadowspawn commented on #926
If any users of regular expression option read this thread, I am interested in what your code looks like.

[2019-03-11 14:24] bagage commented on #467
@vanesyan could it be considered? Eg. having a `choice` or equivalent select mode?

[2019-03-12 06:19] michael-crawford opened #928 "Support defaults for boolean options (including --no-*), for env var set defaults"
It doesn't appear we can set boolean option default values, so that we can set a default value for such options via environment variables, then override these values from the command line. I can do this for options which take a value, and would like this sort of override behavior to be consistent for both option types.

We have two use cases. Default true vs default false. For the description belo

[2019-03-12 08:19] shadowspawn commented on #928
Thanks for the detailed description of a good use case and expected behaviours.

On investigation, the problem lies in the underlying code. The default value for a boolean option is ignored (i.e. an option that does not take a value), presumably because author was thinking of testing for presence of the option rather than its value. This earlier comment tracked it down too: https://github.com/tj/c

[2019-03-12 10:51] vanesyan commented on #925
Seems TJ is too busy right now. I've sent an email to him, still waiting.

[2019-03-12 11:32] tj commented on #925
added :D

[2019-03-12 14:51] shadowspawn commented on #925
Accepted. I am looking forward to helping project as a collaborator. Thanks @tj and team.

[2019-03-12 15:14] vlikin commented on #649
I am for mocha because it is almost every where on projects where I work. Jest is from React world.

[2019-03-12 20:13] michael-crawford commented on #928
I found that code too, but coudn't quite follow how it worked or was supposed to work.

I'm doing exactly the workaround you note, with a regex to validate true/false. This makes it work the same as other options which take a value like '--environment Production', but it's less than ideal.

Hopefully this doesn't come across as arrogant for a newbie to this discussion, but I really do think what I

[2019-03-12 23:00] michael-crawford commented on #928
I now have some code which gets me pretty close to what I was looking for, which may be helpful to those looking to do something similar to what I am, while waiting for this issue to perhaps get implemented. It's still not ideal, in that it doesn't exactly match the CLI "UI" I see elsewhere.

I can set the default value of a boolean to true or false via an env var, turn this on (set to true) via '

[2019-03-13 07:36] shadowspawn commented on #80
This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 07:36] #80 closed

[2019-03-13 07:36] shadowspawn commented on #128
This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 07:37] #128 closed

[2019-03-13 07:40] shadowspawn commented on #129
This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 07:40] #129 closed

[2019-03-13 07:42] shadowspawn commented on #150
Thanks for explanation @alexmingoia

This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 07:42] #150 closed

[2019-03-13 07:44] shadowspawn commented on #151
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 07:44] #151 closed

[2019-03-13 07:46] shadowspawn commented on #179
This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 07:46] #179 closed

[2019-03-13 07:49] shadowspawn commented on #326
This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 07:49] #326 closed

[2019-03-13 08:03] shadowspawn commented on #352
Interesting comments thanks.

This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 08:03] #352 closed

[2019-03-13 08:04] shadowspawn commented on #354
Thanks for explanation @specious and @thasmo

This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 08:04] #354 closed

[2019-03-13 08:05] shadowspawn commented on #359
Thanks for the examples.

This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 08:05] #359 closed

[2019-03-13 08:07] shadowspawn commented on #384
This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 08:07] #384 closed

[2019-03-13 08:08] shadowspawn commented on #394
This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 08:08] #394 closed

[2019-03-13 08:09] shadowspawn commented on #403
This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 08:09] #403 closed

[2019-03-13 08:15] shadowspawn commented on #543
Thanks @rijnhard

[2019-03-13 08:15] #543 closed

[2019-03-13 08:17] shadowspawn commented on #526
This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 08:17] #526 closed

[2019-03-13 08:20] shadowspawn commented on #479
This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 08:20] #479 closed

[2019-03-13 08:20] shadowspawn commented on #474
This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 08:20] #474 closed

[2019-03-13 08:22] shadowspawn commented on #428
This issue has not received many reactions or links, and has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-13 08:22] #428 closed

[2019-03-13 08:50] shadowspawn opened #929 "Remove gitter badge on home page"
I do not think there is an active community on gitter for Commander, and Issues on GitHub is a better place to ask questions. If anyone disagrees or is actively monitoring gitter to offer assistance, speak up or give this a thumbs down...

There has only been one message on gitter community in last 5 months.

 I propose the `gitter` badger is removed from home page. Reactions: 👍 👎 😐

[2019-03-13 09:14] shadowspawn commented on #925
I have made a start on reviewing open Issues. Updated labels and closed 18 issues tonight. I will refine messaging I am using when closing if I receive any feedback, as closing issues is a sensitive topic! Have not started collating common themes but as expected already seeing some. :-)

[2019-03-13 12:42] bennyn commented on #44
[code]

How do you make a program fail when a mandatory argument is missing?

For me it just runs through which I would like to avoid:

[code]

Tested with `commander` v2.19.0.

[2019-03-13 16:57] viniciusls commented on #920
Hi! But what do you think it would be good to implement inside this bootstrap? Because in the examples that you mentioned, we have complex folder structures and configs to create and manage while in commander I just see a 'bin' which will be responsible for calling your own background logic. Do you have some example of complex application?

I started using commander.js recently and I'm liking so m

[2019-03-14 01:08] shadowspawn commented on #929
I am going to close this and open a new one more explicitly as a feedback/poll issue.

[2019-03-14 04:49] shadowspawn commented on #888
Question hopefully answered. No further questions. Closing.

[2019-03-14 04:49] #888 closed

[2019-03-14 05:18] btsheehy opened #931 "r"

[2019-03-14 05:19] #931 closed

[2019-03-14 05:19] btsheehy commented on #931
🤦🏻‍♂️ Github's keyboard shortcuts just went crazy on me. Sorry

[2019-03-14 10:02] shadowspawn commented on #733
Has an answer. No further responses. No  activity in over six months.

Thank you  for your contributions.

[2019-03-14 10:02] #733 closed

[2019-03-14 10:04] shadowspawn commented on #694
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-14 10:04] #694 closed

[2019-03-14 10:07] shadowspawn commented on #663
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-14 10:07] #663 closed

[2019-03-14 10:08] shadowspawn commented on #606
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-14 10:08] #606 closed

[2019-03-14 10:09] shadowspawn commented on #596
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-14 10:09] #596 closed

[2019-03-14 10:10] shadowspawn commented on #594
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-14 10:10] #594 closed

[2019-03-14 10:12] shadowspawn commented on #568
Commander has new collaborators, and there are ongoing releases.

[2019-03-14 10:12] #568 closed

[2019-03-14 10:12] shadowspawn commented on #548
Answered. Old. Closing.

[2019-03-14 10:12] #548 closed

[2019-03-14 10:14] shadowspawn commented on #350
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-14 10:14] #350 closed

[2019-03-14 10:22] shadowspawn commented on #880
No response. Closing.

[2019-03-14 10:22] #880 closed

[2019-03-14 10:26] shadowspawn commented on #871
I don't think we would add this, not least because English is so inconsistent. Have you got examples of other CLI tools or packages doing this?

[2019-03-14 10:28] shadowspawn commented on #841
Answer offered, and no further activity in six months.

Thank you  for your contributions.

[2019-03-14 10:28] #841 closed

[2019-03-14 11:18] sundowndev commented on #418
Same issue here.

[2019-03-15 03:06] kira1928 commented on #926
@ozbillwang

How about this one:
[code]

[code]

[code]

[code]

[code]

[2019-03-15 03:33] ozbillwang commented on #926
Thanks, @kira1928 👍

I never think to write a function (`parseDrink`) in the part of `program.option` . I currently add the test to `program.drink`

[2019-03-15 07:05] Toub commented on #897
You can use it that way:

[code]

Would be nice to add typescript documentation.

[2019-03-15 10:25] shadowspawn commented on #672
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-15 10:25] #672 closed

[2019-03-16 08:22] shadowspawn commented on #301
This has gathered a few likes over the years, so not closing quite yet. I have some problems with choosing colors:
- color choice is quite personal
- color support in some Windows shells is poor
- light and dark themed shells makes color choice harder

I suspect it is too much trouble to build in directly, but perhaps commander can make it easier for people to customise the help output.

[2019-03-16 08:33] shadowspawn commented on #558
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-16 08:33] #558 closed

[2019-03-16 08:40] shadowspawn commented on #558
Possible fixed by #494

[2019-03-16 08:43] shadowspawn commented on #437
There have been a couple of improvements in this area, and likely a stale issue now.

[2019-03-16 08:43] #437 closed

[2019-03-16 08:45] shadowspawn commented on #340
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

There has been a patch to disambiguate emit for version option and command, so behaviour may have been improved.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-16 08:45] #340 closed

[2019-03-16 08:49] shadowspawn commented on #473
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

The issue author has done their own approach, and there are other issues covering this area such as #47.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-16 08:49] #473 closed

[2019-03-16 08:58] #542 closed

[2019-03-16 09:00] #893 closed

[2019-03-16 09:01] shadowspawn commented on #242
Not currently planning a plugin system, but keeping this bug open for now as an early request for being able to override automatic help behaviour.

[2019-03-17 08:27] shadowspawn commented on #831
I expect this was a parsing issue in the shell rather than an issue with commander.

This issue has not had any activity in over six months. Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-17 08:27] #831 closed

[2019-03-17 08:29] shadowspawn commented on #817
This issue has not had any activity in over six months.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-17 08:29] #817 closed

[2019-03-17 08:40] shadowspawn commented on #793
You need to specify that the option takes a value. Expanding on the answer by @yausername

[code]

[code]

[2019-03-17 08:40] shadowspawn commented on #793
This issue has not had any activity in over six months.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-17 08:40] #793 closed

[2019-03-17 09:16] shadowspawn commented on #790
We do need to get something into the README about the "new" pattern, thanks for raising.

I don't think we will deprecate the old way as such, but it should be the my-program-is-so-simple-globals-are-ok way of working.

[2019-03-17 09:17] shadowspawn commented on #783
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-17 09:17] #783 closed

[2019-03-17 09:18] shadowspawn commented on #773
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-17 09:18] #773 closed

[2019-03-17 09:22] shadowspawn commented on #756
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report. (But this is an interesting idea.)

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-17 09:22] #756 closed

[2019-03-17 09:24] shadowspawn commented on #746
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report. (Good comments in #738.)

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-17 09:24] #746 closed

[2019-03-17 09:26] shadowspawn commented on #735
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-17 09:26] #735 closed

[2019-03-17 09:26] shadowspawn commented on #710
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-17 09:26] #710 closed

[2019-03-17 09:27] shadowspawn commented on #926
Found another related issue: #708

[2019-03-17 09:52] KevinLeigh commented on #386
Hey @foxx, @arboleya, @mattwilliams

For nested commands I found the following to work well for me ->

[code]

The example above shows a program that has a root command with two subcommands.Doing it this way allows for independent configuration/options for subcommands and root command. The reason it works is because CommanderJS is creating a new command for each sub command and root command.

**Us

[2019-03-18 07:03] shadowspawn commented on #591
You need to specify that the option takes a value, as shown by @jayrylan.

This issue has not had any activity in over six months.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-18 07:03] #591 closed

[2019-03-18 07:30] shadowspawn commented on #586
We are passing `stdio` too so I suspect were deliberately working with old and new version of node.

https://github.com/nodejs/node/blob/master/doc/api/deprecations.md#dep0006-child_process-optionscustomfds

Assuming minimum version of node is now at least 4, can probably just delete `customFds`.

[2019-03-18 07:34] shadowspawn commented on #581
Thanks for work-around @teddy-gustiaux

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-18 07:34] #581 closed

[2019-03-18 07:36] shadowspawn commented on #555
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-18 07:36] #555 closed

[2019-03-18 07:39] shadowspawn commented on #463
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-18 07:39] #463 closed

[2019-03-18 07:42] shadowspawn commented on #255
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-18 07:42] #255 closed

[2019-03-18 08:17] shadowspawn commented on #787
We should document that intend end-user to install @types/node.

[2019-03-18 09:21] shadowspawn opened #933 "Triage: Namespace pollution"
The current code uses the same namespace for user specified options, user specified arguments, and command.Command internals. Opened this issue to collect the related issues found during triage.

Issues:
- #19 Cannot name options/subcommands after commander public methods or JavaScript built-ins
- #105 '--domain' option may cause problem
- #183 Option values should not be added to the command inst

[2019-03-18 19:41] ganobrega commented on #531
This is already being supported?

[2019-03-19 00:21] Bernd-L opened #934 "Parse multiple commands without exiting the process"
# Goals

- Parse a final (immutable) string and take action accordingly
- Keep the process open (including on `-h` and `-v`, and even on incorrect input)
- Use commander.js as a library (will get called sometimes later, triggered by events)

## Edit:
Goals continuation:
- Get the output from `-v` and `-h` into a string instead of into the terminal

# Use case

A bot which should listen for new mes

[2019-03-19 05:42] shadowspawn commented on #934
Thanks for the use case, and for the succinct `TL;DR` too.

Related open issues about not calling exit: #443 #575

And issues about allowing custom exit code, so similar but different use case: #188 #435

[2019-03-19 13:44] Bernd-L commented on #575
I agree with this issue.

If you want to have a live-chat bot (e.g. for Slack or Discord) one doesn't need the bot to "clean exit".

It really came as a surprise to me, that this library shuts down your app like that.
It took me quite a while (of debugging), but after figuring out, that even a try/catch block wouldn't fix this, I discovered that there are several ... no, not `throw Error()`s in th

[2019-03-20 09:37] shadowspawn commented on #857
Interesting, thanks.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 09:37] #857 closed

[2019-03-20 09:47] shadowspawn commented on #860
Commander does not treat program options as positional, they apply before and after commands. (There are unfortunately not warnings for overlapping options.)

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 09:47] #860 closed

[2019-03-20 09:48] shadowspawn commented on #835
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 09:48] #835 closed

[2019-03-20 09:51] shadowspawn commented on #811
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 09:51] #811 closed

[2019-03-20 09:54] shadowspawn commented on #782
Thanks @marcincichocki

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 09:54] #782 closed

[2019-03-20 10:02] shadowspawn commented on #696
For an option with a required value the syntax is:

[code]

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 10:02] #696 closed

[2019-03-20 10:03] shadowspawn commented on #659
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 10:03] #659 closed

[2019-03-20 10:05] shadowspawn commented on #636
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 10:05] #636 closed

[2019-03-20 10:10] shadowspawn commented on #589
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 10:10] #589 closed

[2019-03-20 10:10] shadowspawn commented on #588
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 10:10] #588 closed

[2019-03-20 10:13] shadowspawn commented on #580
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 10:13] #580 closed

[2019-03-20 10:14] shadowspawn commented on #565
Thanks @FDiskas

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 10:14] #565 closed

[2019-03-20 10:18] shadowspawn commented on #507
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 10:18] #507 closed

[2019-03-20 10:20] shadowspawn commented on #331
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 10:20] #331 closed

[2019-03-20 10:22] shadowspawn commented on #322
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-20 10:22] #322 closed

[2019-03-20 15:02] ExDomino commented on #782
The problem was also solved so there is no problem to close this issue.

[2019-03-21 05:08] shadowspawn commented on #222
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 05:08] #222 closed

[2019-03-21 05:13] shadowspawn commented on #137
Popular approach from @jrschumacher , thanks

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 05:13] #137 closed

[2019-03-21 05:26] shadowspawn commented on #259
I think the PR referred to here has been merged so this particular report is now stale.

This issue has not had much activity in four years. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 05:26] #259 closed

[2019-03-21 05:32] shadowspawn commented on #289
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 05:32] #289 closed

[2019-03-21 06:48] shadowspawn commented on #297
Thanks for explanation and solution @jamesr73

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 06:48] #297 closed

[2019-03-21 06:56] shadowspawn commented on #439
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 06:56] #439 closed

[2019-03-21 06:58] shadowspawn commented on #482
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 06:58] #482 closed

[2019-03-21 07:01] shadowspawn commented on #468
Good explanation of current situation from @dcbartlett

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 07:01] #468 closed

[2019-03-21 07:06] shadowspawn commented on #511
Good comment that "Git-style sub-commands" is not the most appropriate header.

There are multiple other issues open about confusion over description changing behaviour, and I have this issue noted to link later.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and

[2019-03-21 07:06] #511 closed

[2019-03-21 07:10] shadowspawn commented on #454
Thanks for explanation @curioussavage

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 07:10] #454 closed

[2019-03-21 07:11] shadowspawn commented on #633
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 07:11] #633 closed

[2019-03-21 07:14] shadowspawn commented on #633
(I have this issue noted for future reference, common report of confusion over switching modes based on description.)

[2019-03-21 07:21] shadowspawn commented on #590
Bit many questions there. :-)

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 07:21] #590 closed

[2019-03-21 07:24] shadowspawn commented on #623
A pattern for displaying a default message is now included in the README.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 07:24] #623 closed

[2019-03-21 07:28] shadowspawn commented on #626
I have this noted as an example of issues with how "boolean" options are handled.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 07:28] #626 closed

[2019-03-21 07:46] shadowspawn commented on #640
Having a warning in this case is a reasonable suggestion, thanks.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-21 07:46] #640 closed

[2019-03-21 08:17] vanesyan commented on #925
Congrats, @shadowspawn 🎊 🎉

[2019-03-21 08:17] vanesyan commented on #925
So we add @shadowspawn to the team of collaborators, closing.

[2019-03-21 08:17] #925 closed

[2019-03-21 11:18] Tarabass commented on #919
Does this help?

[code]

[2019-03-21 20:19] tcf909 commented on #894
Unfortunately, that isn't the issue. The issue is commander won't even validate the input enough to hand the parameters to my application.

The program instead outputs the "Usage:" dialog.

This is definitely a bug. I'm surprised more people don't run in to it.

[2019-03-21 20:19] tcf909 commented on #894
@shadowspawn bump

[2019-03-21 20:24] tcf909 commented on #894
Update:

It seems to only run in to the validation issue when <files...> (vs [files...]) is used and a single file is provided.

[2019-03-21 20:27] tcf909 commented on #894
I'm working around the issue by using [files...] then validating the files array is not empty in the application code.

[2019-03-21 20:41] tcf909 commented on #894
Example action handler:

[code]

[2019-03-21 21:53] tcf909 commented on #894
Looks like it was my fault. Sorry for wasting your time.

I was handling a weird condition where a sub command with no arguments will not display help:

[code]
Just exits with no output and exit code 0

So I had:
[code]
But because of the way the args are cleared out for this particular command (different than others for some reason) the cli.help() condition was being hit even for valid commands.

[2019-03-21 21:53] #894 closed

[2019-03-22 03:57] anantanandgupta commented on #7
here is what i have written

[code]

[2019-03-23 13:27] bimlas commented on #374
I think @lygstate thought the way the Git works. For example:

[code]

Thus, it would be possible to use multiple variadic arguments.

[code]

[2019-03-25 21:12] dland512 opened #936 "Run action for all commands"
Is there a way to have an action that always runs, no matter what command you are running? I tried this but it's not running the top level action attached to `program`:

[code]

[2019-03-26 18:31] HopefulLlama opened #937 "Throw an error when the short flag for an option for longer than one character"
In the `.option(...)` method, it takes a string flag which is comma separated, and describes a short and a long flag for passing arguments, such as:

[code]

However, when given a short flag which is longer than one character, the program will still parse and execute, but cannot be accessed by its short flag.

For example:

[code]

It is impossible to use `-nv` on the command-line, as commander in

[2019-03-27 04:17] shadowspawn commented on #937
The documentation does mention the cli behaviour:

but I agree it would be nice if commander warned you about the setup problem.

[2019-03-27 04:33] shadowspawn commented on #936
I don't think is quite what you are asking, but these things came to mind:
- can use an option and [custom event listeners](https://github.com/tj/commander.js#custom-event-listeners)
- there can be a default action for [git-style sub-commands](https://github.com/tj/commander.js#git-style-sub-commands)

[2019-03-27 04:48] shadowspawn opened #938 "Triage: Confusion between action and executable command handlers"
There is a silent change in behaviour based on whether a description parameter is added to the `.command` definition. This is a common cause of confusion. Opened this issue to collect the related issues found during triage.

Issues:
- #511 Having a lot of difficulty getting nested commands
- #633 Subcommand not registered if no description provided during the setup
- #706 executeSubCommand() shoul

[2019-03-27 05:27] shadowspawn opened #939 "Triage: Problems with negating boolean options"
People have a variety of problems with boolean options and negating.  Opened this issue to collect the related issues found during triage.

NB: there is an open pull request and I have not yet looked at how well it addresses the issues, but likely to be some documentation work even if functionally solid.

Issues:
- #108 On and off switches are not working
- #238 when specifying options, the "--no"

[2019-03-27 05:43] shadowspawn commented on #898
There is support for custom command help so you can expand on the short description like this:

[code]

[code]

[2019-03-27 06:21] shadowspawn commented on #698
This issue has not had any activity in over six months, and original poster satisfied. It isn't likely to get acted on further due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-27 06:21] #698 closed

[2019-03-27 06:27] shadowspawn commented on #624
This was probably due to using global commander object and there is now a work-around, see for example #790.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-27 06:27] #624 closed

[2019-03-27 06:32] shadowspawn commented on #878
This issue has not had any activity in five months, and an explanation was offered. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-27 06:32] #878 closed

[2019-03-27 06:48] shadowspawn commented on #919
@toymachiner62
If you have commands, are you attaching actions to your commands, or using git-style executables?

In my program I have actions attached to the commands and get an error displayed automatically.

[code]

However, note that your example of `-V` is special as that is the default short option to display the program version:

[code]

[2019-03-27 06:54] shadowspawn commented on #904
Making a new command in this way means you are not affected by other code also using commander. (Is that what you are asking?)

[2019-03-27 07:11] shadowspawn commented on #921
Have you got a small example program?

(I do see the warning for unknown flags in my program which has subcommands, but looks like you have just an optional argument and options and no subcommands?)

[2019-03-27 07:14] shadowspawn commented on #913
There is also discussion of variadic options in #571

[2019-03-27 07:16] shadowspawn commented on #901
I assume this has been answered.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-27 07:16] #901 closed

[2019-03-27 08:24] jbardon commented on #898
Thanks for your answer.
Using description and --help event does the trick.

The description is still displayed on both the global help and on top of the command help.
And the --help texts appear on the bottom of the command help to provide more details.

[2019-03-27 08:24] #898 closed

[2019-03-27 10:55] HopefulLlama commented on #937
It does mention that, but it took me a long time to put two and two together.

I.e.: It does take some thinking to realise that a two character flag **cannot** work due to the short flag feature. It doesn't _explicitly_ say so in the documentation.

I think an addition to the documentation, and an error or warning given when the misleading setup is actioned would be suitable.

[2019-03-27 15:47] vanesyan commented on #933
Should we open an issue to collect all wanted breaking changes and finally decide on v3?

[2019-03-28 04:03] shadowspawn commented on #666
@vanesyan asked elsewhere:

Well, there is this stale old issue! Asking some questions first. Numbering them so you can reference them in replies, but also putting them in separate comments do you can just 👍 👎 too.

[2019-03-28 04:03] shadowspawn commented on #666
1) Are there going to continue being minor releases before next major release?

[2019-03-28 04:04] shadowspawn commented on #666
2. I have not looked through open Pull Requests yet. Would you like me to look for stale Pull Requests, like I have with Issues, and close old ones that did not get much activity? (Open Issues count is down from 223 to 142 so far, but I expect I will not close so many Pull Requests.)

[2019-03-28 04:06] shadowspawn commented on #666
3) We could perhaps try a `Project` for tracking v3?

I have experimented a little but not used a Project for real work yet, so not sure how well it might work. No worries if you would rather just use Issue!

I was thinking we might have columns for Consider, To Do, In Progress, Done (Merged).

Adding issues directly to the project and moving an issue between columns adds messages to the issue (so

[2019-03-28 04:20] gilbert commented on #303
Here's an easy workaround for this issue:

[code]

This causes the help text output to be the default, but you can replace `-h` with whatever command you want.

[2019-03-28 05:14] daiyunchao opened #940 "argments are empty"
I have a very simple demo

at first ,show my code

my `index.js`
[code]
`package.json`
[code]

soon ,i exec `sudo npm link`

next i run `s9cli -n sss`
result is:
[code]

node version: v8.5.0
Linux version: 3.19.0-42-generic (buildd@lgw01-24) (gcc version 4.8.2 (Ubuntu 4.8.2-19ubuntu1) ) #48~14.04.1-Ubuntu SMP Fri Dec 18 10:24:49 UTC 2015

[2019-03-28 05:23] shadowspawn commented on #940
The problem is your test for displaying the help. From the README for [option parsing](https://github.com/tj/commander.js#option-parsing)

So is nothing left in `program.args` in your example.

[2019-03-28 08:19] daiyunchao commented on #940
@shadowspawn  thank you man!
I change my code

`index.js`
[code]

result
[code]

Soon change code again:
[code]

result
[code]

when remove `console.log(process.argv.splice(2))` result is right.
if covert `process.argv` to array will error ?

alright i will close this issue!
thank your answer@shadowspawn

[2019-03-28 08:19] #940 closed

[2019-03-29 08:52] shadowspawn commented on #544
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-29 08:52] #544 closed

[2019-03-29 17:43] dland512 opened #942 "Throw error when no sub-command specified"
My app always requires a sub command, e.g.

`node main.js sub1`
or
`node main.js -x sub1`

It's not valid to do

`node main.js`
or
`node main.js -x`

How can I catch this scenario? Is there a way to introspect the `program` object to tell if a sub command was used?

I was going to use `process.argv.length` but that doesn't really work because a user could still pass in options without a sub-comman

[2019-03-29 20:56] shadowspawn commented on #942
After calling `program.parse`, `program.args` hold the arguments not consumed by options. So you could do this:

[code]

[code]

[2019-03-29 23:44] shadowspawn commented on #230
This issue has been quite active over the years and mandatory options comes up multiple times, so I'll add a long comment here.

 @foxx asked in original post about making an option mandatory:

## option with required value (already supported)

As noted in the original post, there is already support for making an option have a required value so *if* you specify the option you must also specify the

[2019-03-30 03:12] shadowspawn commented on #546
The original poster asked about mandatory non-option arguments. There is not automatic support for this.

In this simple example with an argument to the program you can make a simple test for whether anything is left after the options are consumed by testing program.args.

[code]

[code]

[2019-03-30 03:21] shadowspawn commented on #666
Mentioning other collaborators in case not subscribed to all new messages. No rush replying, just letting you know I added some notes in this older issue! 🙂
@vanesyan @abetomo

[2019-03-30 04:34] shadowspawn commented on #766
For interest, I looked at the suggested unix commands and `git` and `npm` and found three behaviours:
- show usage (all the suggested unix commands, none of which have a built-in help)
- suggest `--help`
- default help

[code]

[2019-03-30 05:05] shadowspawn commented on #386
I think the primary purpose of the options parameter to the action function is to access just your own options. However, it is currently passed a full command object which is a combination of the internal commander object and your own options. This is a source of confusion and name clashes and something we would like to change. It certainly surprised me when I first did a `console.log(options)` an

[2019-03-30 06:40] shadowspawn commented on #877
@fishbar
Can you use `NODE_OPTIONS`?

https://nodejs.org/api/cli.html#cli_node_options_options

[2019-03-30 06:42] shadowspawn commented on #838
Work-around already suggested.

Another option might be using `NODE_OPTIONS`?
https://nodejs.org/api/cli.html#cli_node_options_options

[2019-03-30 07:31] shadowspawn commented on #834
Good detailed description, thanks @jaredpetersen

The problem behaviour got added way back in #198 to support the repeated options, but it added a parameter that a straight-forward coercion function would not expect.

Not sure if worth the pain to untangle the behaviours now, or just document it!

[2019-03-30 07:59] shadowspawn opened #943 "Triage: Coercion vs Accumulation"
#198 changed the parameters passed to the "coercion" function to allow it to also act as an "accumulator" function such as `collect` and `increaseVerbosity` in the README. However, it also means an extra value is passed to a "plain" coercion function which is unexpected and breaks the older `parseInt` example.

Issues:
- #201 2.2.0 isn't compatible any more with parseInt used with default argument

[2019-03-30 08:39] shadowspawn commented on #634
Solution supplied, and issue is still findable by people having same issue.

This issue has not had much activity recently. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-30 08:39] #634 closed

[2019-03-30 08:42] shadowspawn commented on #607
Explanation provided by @json2d

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-30 08:42] #607 closed

[2019-03-30 08:43] shadowspawn commented on #600
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-30 08:43] #600 closed

[2019-03-30 08:48] shadowspawn commented on #559
A new option might be using NODE_OPTIONS?
https://nodejs.org/api/cli.html#cli_node_options_options

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-30 08:48] #559 closed

[2019-03-30 08:58] shadowspawn commented on #561
This has not seen a lot of activity, but it is a clear bug, and I have reproduced it on Mac.

[2019-03-30 09:06] shadowspawn commented on #346
This has not had much recent activity, but is a bug and has been reported again. Keeping this one open and closing the others.

[2019-03-30 09:07] shadowspawn commented on #483
Closing as duplicate of #346

[2019-03-30 09:07] #483 closed

[2019-03-30 09:08] shadowspawn commented on #629
Closing as duplicate of #346

[2019-03-30 09:08] #629 closed

[2019-03-30 09:18] shadowspawn commented on #910
#625 is the same request, but for commands

[2019-03-30 09:18] shadowspawn commented on #625
#910 is the same request, but for options

[2019-03-30 10:08] shadowspawn commented on #582
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-03-30 10:08] #582 closed

[2019-03-30 20:44] riongull commented on #764
Relevant: https://github.com/tj/commander.js/issues/532

[2019-03-30 22:57] shadowspawn opened #944 "Triage: Git-style subcommands"
## Executable lookup

The file layout and lookup for doing subcommands is not customisable.

Issues:

- <strike>#481 Please add .command() function a path config</strike>
- <strike>#532 Allow user to specify which script a subcommand should call</strike>
- <strike>#826 Possible to specify executable for subcommands?</strike>
- #875 override basePath where commands for ```git-style sub-commands```

[2019-03-30 23:24] shadowspawn commented on #764
I am not sure what people have in mind when upvoting this. I know there is interest in more flexibility in specifying the external executable for git-style commands.

Is there interest in being able to do sub subcommands using action handlers and not using external executables? (#63 #245 #655)

[2019-03-31 20:35] #904 closed

[2019-04-01 06:34] shadowspawn opened #945 "Triage: Exit"
Commander calls `exit` under various circumstances, such as after displaying an error or the help. This is pretty convenient for the caller of a one-shot parse in a CLI, but is a problem when Commander is being used as part of a long running program or if caller wants more control over the failure handling.

Issues:

- #188 optional exit value for Help. (feature request)
- #435 process.exit(64)
-

[2019-04-01 06:44] shadowspawn commented on #531
@ganobrega Current status is:
- commands support a single alias
- options do not support an alias as such

[2019-04-01 08:45] shadowspawn commented on #608
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-04-01 08:45] #608 closed

[2019-04-01 08:50] shadowspawn commented on #767
I have added this to a triage list of related items.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-04-01 08:50] #767 closed

[2019-04-02 08:04] shadowspawn commented on #776
I agree, we should improve the documentation and the runtime behaviour to make this clearer. I have referenced this issue as one of a number of related issues.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-04-02 08:04] #776 closed

[2019-04-02 08:04] shadowspawn commented on #747
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-04-02 08:04] #747 closed

[2019-04-02 08:04] shadowspawn commented on #715
I agree, we should improve the documentation and the runtime behaviour to make this clearer. I have referenced this issue as one of a number of related issues.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-04-02 08:04] #715 closed

[2019-04-02 08:07] shadowspawn commented on #644
This is an area we want to improve, and will be a breaking change. I have referenced this issue as one of a number of related issues.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-04-02 08:07] #644 closed

[2019-04-02 08:09] shadowspawn commented on #598
The global options can come before or after the command, so there is a conflict between the two uses of -v.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-04-02 08:09] #598 closed

[2019-04-02 08:56] shadowspawn commented on #584
I have referenced this issue as one of a number of related issues.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-04-02 08:56] #584 closed

[2019-04-02 21:26] shaharx opened #947 "Pass multiple flags seperately is parsed incorrectly?"
When running a terminal command with multiple flags and values, passing a <required> flag without its value, will take the next flag as the value:

example script:

program
    .option('-n, --number <number>', 'the number or name of a case environment')
    .option('-v, --artVersion <artVersion>', 'the Artifactory version to deploy')

console.log(program.number)

executing

command: foo -n
output:

[2019-04-02 23:19] david-mohr commented on #786
I'm on Linux and found this issue while searching for subcommand "does not exist" errors.  Simliar to @jameelmoses I found that `yarn global` was causing the issue.  Yarn has changed from symlinking `/usr/local/bin/exe` directly to the `node_modules` folder to using an intermediate `.bin` folder which then continues to link onto the `node_modules` folder.

In short, `commander` is stuck looking fo

[2019-04-02 23:19] shadowspawn commented on #947
I don't think your example script matches your example output, but can offer some tips which will hopefully answer your question.

There are boolean options:

[code]

and options that always have a value:

[code]

and lastly and less common in my experience, an option that _may_ have a value (so sort of a hybrid of a boolean option and an option with value):

[code]

An option that always has a va

[2019-04-02 23:25] shadowspawn commented on #786
Thanks for the work-arounds @david-mohr

There is a change being prepared for release in Commander v2.20.0 which should help with the Yarn issue in particular: #935

[2019-04-03 02:18] StoneCypher commented on #331
I have never understood a library's culture of shutting down suggestions just because nobody's handled them yet

[2019-04-03 04:54] shadowspawn commented on #331
People have different personal preferences about how to handle old issues. Libraries have different policies and practices about old issues.

Before I started closing some of the old issues, I looked around a bit to see what other projects do. I like this short commentary from a popular automated approach:
https://github.com/probot/stale#is-closing-stale-issues-really-a-good-idea

I also like this

[2019-04-03 08:12] shadowspawn commented on #866
This may have been fixed in: https://github.com/tj/commander.js/releases/tag/v2.20.0

[2019-04-03 08:21] shadowspawn commented on #890
The yarn issue may have been fixed in: https://github.com/tj/commander.js/releases/tag/v2.20.0

[2019-04-03 20:04] shaharx commented on #947
Hello shadowspawn, thank you for your answer.
What i meant is this:
If you pass in to the command a flag with a required parameter i.e. <value>, but you don't pass into that flag any parameter, you will get a missing argument exception which is ok and expected.
But if you run a command again with the same flag as above, with no value, but with another flag that follows it i.e.: " -n -v ", the comm

[2019-04-04 00:47] MattTheNub opened #948 "Built-in help subcommand does not work with aliased git-style commands"
# Example

[code]
When running the built-in help command on the alias (`pm help i`), this happens:
## Expected Behavior
The alias gets resolved to `install`, and the information is read from `pm-install`
## Actual Behavior
The command attempts to read `pm-i` and fails, as it does not exist.

[2019-04-04 05:26] shadowspawn commented on #948
The `npm help foo` pattern has never been documented in the README (#892) and would appear to be buggy making me wonder how implemented it was.

With your sample program it appears to be working as expected for `--help` though, given I only created index.js:

[code]

[2019-04-04 06:16] shadowspawn commented on #947
Yes, the option takes the next argument as its value whether or not it starts with a dash.

[code]

[code]

[2019-04-04 07:18] shadowspawn commented on #588
This has been fixed by #935 released in Commander v2.2.0.0.

[2019-04-04 10:32] shadowspawn commented on #533
This looks like might be a solution on node side?

nodejs/node#5025

[2019-04-04 10:32] shadowspawn commented on #838
This looks like might be a solution on node side?

nodejs/node#5025

[2019-04-04 21:04] StoneCypher commented on #331
I guess I have a different viewpoint.

To me, it seems like throwing away knowledge in the hope of a false feeling of "cleanliness."

The defect remains; it is merely no longer known

[2019-04-04 21:04] StoneCypher commented on #331
Anyway, your library; do as you will

[2019-04-05 01:48] shadowspawn commented on #933
(Started v3 conversations in #666)

[2019-04-05 10:57] shaharx commented on #947
Thank you shadowspan, i didn't know this is an expected behavior.
I tried running with docker for a reference and i see the same result when passing the -p flag with no ports:
$ docker run --name ngx -p -d nginx
docker: Invalid containerPort: -d.

Thanks for the support.

[2019-04-06 02:57] grant commented on #655
Not sure if this is useful; I use `process.argv`. I do something like this:

[code]

https://github.com/google/clasp/blob/master/src/commands/apis.ts#L28

Seems to work fine.

[2019-04-06 07:56] shadowspawn commented on #666
4. Do we have an existing policy for minimum node version?

I would like to say LTS but that is probably too aggressive for such a widely used package! I saw Vanesyan mention ECMAScript 2015 in #637 and found a site with detailed information about what version of node supports ECMAScript features: https://node.green

[2019-04-07 00:23] shadowspawn commented on #666
5. api docs

How are the api docs on http://tj.github.io generated and updated from the jsdoc comments?

[2019-04-07 05:46] shadowspawn commented on #105
The `domain` issue in particular is fixed in node 10.

[2019-04-07 05:46] shadowspawn commented on #370
The `domain` issue in particular is fixed in node 10.

[2019-04-07 05:54] shadowspawn commented on #250
Making the option have a required value is appropriate, and avoids the dash issue, as per https://github.com/tj/commander.js/issues/250#issuecomment-54650480

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-04-07 05:54] #250 closed

[2019-04-07 23:25] callumgare commented on #764
Speaking for my self that is exactly what I would like :)

[2019-04-08 10:27] shadowspawn commented on #929
Pull request has been merged.

[2019-04-08 10:27] #929 closed

[2019-04-08 21:01] wesleytodd commented on #600
Hi @shadowspawn, can you tell me more about what would help this get action?  I even had a suggested a fix, and said I would open a PR if this seemed correct.

[2019-04-09 04:58] DuckyCrayfish commented on #531
Was a consensus ever reached on the option to support? If not I have yet another suggestion that is a bit of  a middle-ground.

[2019-04-09 07:08] shadowspawn commented on #600
Sure. I'll run though some of my reasoning, and what that means for helping it get action.

1) There was no activity on this issue, so does not look a high priority for Commander compared with other commonly reported or much discussed issues. Is it more common that I realised?
- does it explain other issues in this forum that I didn't notice or realise had same cause?
- is it affecting other peopl

[2019-04-09 07:45] shadowspawn commented on #531
Not consensus, throw in another idea @DuckyCrayfish

I personally lean towards just repeating `.alias` or allowing array, and not offering ability to hide. Keep it simple.

For the help, an approach I have copied is to list the aliases in a separate help section. This avoids cluttering up the main command help with the variations. e.g.

[code]

(The "real" commands are listed on the right.)

[2019-04-10 20:31] SlurpTheo commented on #561
Had a script passing accidentally `-arg <argVal> <someVal>` instead of `--arg <argVal> <someVal>`.

[code]

Fine/good:
[code]

I guess this is okay (at least there's an error -- _after_ my option-handling function is called with "garbage"):
[code]

But **ICK!!**
[code]

[2019-04-10 22:22] wesleytodd commented on #600
Hey @shadowspawn, thanks for the response!

Well I tried to reach out to how I thought were the contributors more, but no one responded.  I was not aware of you, so I was not sure what to do to escalate beyond that.

Sure! I can see that, but that does not seem to me to be a reason to close :)

I was sure it fixed *my* issue.  I had originally hoped that there was more maintainers around who could

[2019-04-11 00:05] shadowspawn commented on #600
Thanks for comments. I have a different opinion on some, but respect your viewpoint.

One clarification: When I said "no activity" I was not referring to maintainers. I look for comments or reactions from anyone.

And thanks for the reaction to the username, but I adopted it from Thieves' World! Now I wonder what the WOT context is... 🤔

[2019-04-11 22:48] tkausl commented on #764
I'd love to have this aswell.

@a-fas code works good so far, I only added `unknown.includes('--help') || unknown.includes('-h')` as condition to the output-help `if`, since otherwise `./app command1 command2 --help` would print `command1`s help page, not `command2`s.

[2019-04-13 10:30] a-fas commented on #764
I think if it seems useful i can PR it :)
(Will do next week)

[2019-04-15 14:58] dland512 commented on #942
I think that will do it, thank you!

[2019-04-15 14:58] #942 closed

[2019-04-16 03:15] shadowspawn commented on #666
6. testing framework

We have suggestions for Jest and Mocha and Ava, and #649 has multiple comments.

I thought it was a good experiment in #755 to convert a couple of the tests to ava, and wonder about doing same for Mocha and Jest.

Would it be useful to convert same couple of files for Jest and Mocha to help decide? (Or thumbs down if you already have a strong preference or it would not help y

[2019-04-16 04:17] shadowspawn commented on #933
Draft code for options refactor in #951

[2019-04-16 06:04] zcfan commented on #838
@shadowspawn After reading the link you provide I didn't realize how it can help this situation. Is the --debug-port option assigning a random port to the new created child process?

[2019-04-16 06:11] zcfan commented on #838
Oh I didn't notice the reference before your comment. increment debug port looks good to me, finding the subcommand binary path and execute works but tedious.

[2019-04-16 17:26] emilyrohrbough commented on #944
@shadowspawn I recently discovered the ability to define subcommand using `commandar`. Its great! I have run into a few different issues - the initial ones being that I use a Mac and our project configuration results in the incorrect file resolution for sub-commends. (See below for project context). I've been able to play around a bit to propose a possible fix to the issue you've called out on htt

[2019-04-16 21:17] shadowspawn commented on #944
Thanks @emilyrohrbough

I'll share my idea for the syntax for a single command. I like the idea of a routine to match `.action` but for git-style subcommands. The current behaviour with the mode switching between action based and executable based depending on where you put the description is confusing and this could make it more obvious and symmetrical, even with no custom settings. And provide a

[2019-04-16 22:26] shadowspawn commented on #938
I'll share my idea for a possible approach (also in #944). I like the idea of a routine to match .action but for git-style subcommands. The current behaviour with the mode switching between action based and executable based depending on where you put the description is confusing and this could make it more obvious and symmetrical.

Not sure about the name yet, and using `.exec` here. Trying exampl

[2019-04-17 13:43] emilyrohrbough commented on #944
@shadowspawn I like that too! Def more explicit.

[2019-04-17 14:44] Mousecop commented on #890
Hello, I have updated to v2.20.0 and I am still having this problem. Is there a workaround or a resolution for this?
I am running a build command. On Linux it is expecting `test-build` but on Windows it is expecting `index-build`. Is there a way to satisfy both?
Thank you.

[2019-04-17 21:13] shadowspawn commented on #890
@Mousecop Have a look at #786 where people have done some digging into the name lookup. Basically, you want to reduce the variations: try naming your entry file the same as your command.

[2019-04-17 22:18] shadowspawn commented on #105
Closing this as covered by #183 and #933

[2019-04-17 22:18] #105 closed

[2019-04-17 22:20] shadowspawn commented on #370
Closing this as covered by #183 and #933

[2019-04-17 22:20] #370 closed

[2019-04-17 22:20] shadowspawn commented on #377
Closing this as covered by #183 and #933

[2019-04-17 22:20] #377 closed

[2019-04-17 22:22] shadowspawn commented on #404
Closing this as covered by #183 and #933

Good information, and will add extra cross-reference in #183

[2019-04-17 22:22] #404 closed

[2019-04-17 22:23] shadowspawn commented on #183
There is some good discussion in #404

[2019-04-17 22:24] shadowspawn commented on #514
Closing this as covered by #183 and #933

[2019-04-17 22:24] #514 closed

[2019-04-17 22:26] shadowspawn commented on #648
Closing this as covered by #183 and #933

[2019-04-17 22:26] #648 closed

[2019-04-17 22:30] shadowspawn commented on #592
Closing this as covered by #183 and #933

[2019-04-17 22:30] #592 closed

[2019-04-17 22:37] shadowspawn commented on #524
Closing as covered by #201 and #943

[2019-04-17 22:37] #524 closed

[2019-04-17 22:38] shadowspawn commented on #587
Closing as covered by #201 and #943

[2019-04-17 22:38] #587 closed

[2019-04-17 22:38] shadowspawn commented on #686
Closing as covered by #201 and #943

[2019-04-17 22:38] #686 closed

[2019-04-17 22:39] shadowspawn commented on #834
Closing as covered by #201 and #943

[2019-04-17 22:39] #834 closed

[2019-04-17 22:40] shadowspawn commented on #201
Oops, used this as the earliest bug and want it open as I am linking to it from multiple places!

[2019-04-20 11:26] shadowspawn commented on #301
This issue has not had any activity in over six months (other than a comment suggesting it be closed). It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-04-22 22:37] shadowspawn commented on #469
The `isDefault` functionality is currently only supported for git-style subcommands. I am closing this issue in favour of #742 which identifies the limitation in the title.

[2019-04-22 22:37] #469 closed

[2019-04-22 22:47] shadowspawn commented on #476
The original question got answered, and I don't think there will be action due to the subsequent comments.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-04-22 22:47] #476 closed

[2019-04-22 22:53] shadowspawn commented on #908
An answer was provided, and no further activity in a month. Closing this as resolved.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

[2019-04-22 22:53] #908 closed

[2019-04-22 22:55] shadowspawn commented on #947
Thanks for docker example @shaharx

[2019-04-22 22:55] #947 closed

[2019-04-22 23:05] shadowspawn commented on #877
@fishbar are you on Windows?

(There is code passing the extra arguments for javascript subcommands when not on Windows.)

[2019-04-22 23:19] shadowspawn commented on #871
As for doing it manually, there is not current support for multiple aliases, and that was raised in #531

[2019-04-22 23:19] #871 closed

[2019-04-22 23:27] shadowspawn commented on #712
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

There is a `.opts()` routine which returns an object with the options and their values. If that doesn't suit your use case, would you please give some context about what you want it for.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank y

[2019-04-22 23:27] #712 closed

[2019-04-23 07:49] padcom commented on #469
I know this is a lot to ask but could you elaborate (provide a short example maybe?) what does it mean _git-style subcommands_? I am mighty confused...

[2019-04-23 14:28] flyfishMT commented on #908
Thank you, this was great help. Sorry for not posting back and closing.

[2019-04-23 21:35] shadowspawn commented on #469
@padcom
There is a section in the README, and example in the examples:
https://github.com/tj/commander.js#git-style-sub-commands
https://github.com/tj/commander.js/blob/master/examples/pm

[2019-04-23 21:45] shadowspawn commented on #909
Answer provided, and enhancement covered by existing issue. Closing in favour of #230

Duplicate of #230

[2019-04-23 21:45] #909 closed

[2019-04-23 21:49] shadowspawn commented on #884
@ozbillwang

[code]

[2019-04-25 16:24] ecruzado commented on #61
any updates on this issue? there is a timeline to fix it?

[2019-04-25 20:49] shadowspawn commented on #61
The current behaviour is that an option with a required value takes the following argument, whether or not it starts with a dash, so works with negative numbers.

Hopefully this covers your use cases @Simplonium @the-townsend @ecruzado ?

[code]

[code]

Limitation: negative numbers are not recognised for options with a value which is only optional (e.g. `-n, --number [value]`), but I suspect this

[2019-04-25 23:45] shadowspawn commented on #618
I have not looked into the undocumented `help` command, but `-h` and `--help` will display the help for a command if it has an action handler (as noted by @channg).

[code]

[code]

[2019-04-26 06:17] shadowspawn commented on #666
7. release branch

Shall we make a release branch for pull requests which have been approved for next version, and use that branch for new Pull Request that must target next version? (I am thinking yes, and I'll also add a tag to mark Pull Requests that have been merged into the release branch but not into master so we know those Pull Requests are done and just awaiting release.)

[2019-04-26 22:32] shadowspawn commented on #764
On a related note, there is a closed pull request to "connect the wires" for nested routines in #245. The first comment is a nice summary. (I have not analysed it deeply enough to contrast with @a-fas approach yet.)

[2019-04-26 22:51] shadowspawn commented on #645
If someone wants to have a go at this, there is some code in #658 to reference which is doing the right things, but I had some style concerns. (Optionally could also cope with user defined `--help` although since much less likely than `-h`, it is fine to leave that out of this fix.)

[2019-04-26 23:28] shadowspawn commented on #481
Pull Request #532 adds an option for this.

I am interested in feedback on `executableFile` as the option name?

e.g.
[code]

[2019-04-26 23:28] shadowspawn commented on #532
Pull Request #532 adds an option for this.

I am interested in feedback on `executableFile` as the option name?

e.g.
[code]

[2019-04-27 02:44] shadowspawn commented on #927
@mojavelinux converted a couple of the test files to ava in #755 to show what it looks like, which I thought was a useful way of seeing real code for a modest time investment. If someone is interested in showing what it would look like using mocha, you could do a draft Pull Request with the same two files and a mocha setup.

[2019-04-27 02:46] shadowspawn commented on #649
@mojavelinux converted a couple of the test files to ava in #755 to show what it looks like, which I thought was a useful way of seeing real code for a modest time investment.

If someone is interested in showing what it would look like using `jest`, you could do a draft Pull Request with the same two files and a `jest` setup.

[2019-04-27 10:20] the-townsend commented on #61
Thanks for this John, I’ll take a look.

________________________________
From: John Gee <notifications@github.com>
Sent: Thursday, April 25, 2019 9:49:37 PM
To: tj/commander.js
Cc: Christopher Townsend; Mention
Subject: Re: [tj/commander.js] Accept negative number values (#61)

The current behaviour is that an option with a required value takes the following argument, whether or not it starts wit

[2019-04-30 10:52] shadowspawn commented on #706
Adding a description to the `.command()` call currently invokes git-style subcommand mode, which could do with a warning or change in default behaviour when `.action()` supplied, and better documentation.

[2019-05-01 11:22] shadowspawn commented on #571
Are there some existing commands with variadic option support? I can't think of one.

As mentioned in the previous comments, two conventional ways of doing multiple values for an option (and covered in [Open Group Utility Conventions](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap12.html#tag_12_02)) are:

[code]

[2019-05-02 09:09] shadowspawn commented on #877
This will hopefully be fixed by #611

[2019-05-02 10:02] shadowspawn commented on #674
Adding this would complicate parsing too much and be a bit unusual.

However, you can now add custom parsing (as mentioned by @edemaine) and the requested example looks a good candidate for a comma separated pair like:

[code]

Used like:

[code]

[2019-05-02 10:02] #674 closed

[2019-05-02 10:30] shadowspawn commented on #201
I have proposed a large update to options coverages in README in #953

[2019-05-02 10:30] shadowspawn commented on #400
I have proposed a large update to options coverages in README in #953

[2019-05-02 10:31] shadowspawn commented on #884
I have proposed a large update to options coverages in README in #953

[2019-05-02 10:32] shadowspawn commented on #790
I have added the new pattern in a large update to README in #953

[2019-05-02 10:32] shadowspawn commented on #574
I have proposed a large update to options coverages in README in #953

[2019-05-02 10:57] shadowspawn commented on #238
Closing in favour of #108

[2019-05-02 10:57] #238 closed

[2019-05-02 10:58] shadowspawn commented on #630
Closing in favour of #108

[2019-05-02 10:58] #630 closed

[2019-05-02 11:11] shadowspawn commented on #467
Closing in favour of #518 which I think is covering similar request with more detail.

[2019-05-02 11:11] #467 closed

[2019-05-02 11:28] shadowspawn commented on #516
Closing in favour of #183
See also #933

[2019-05-02 11:28] #516 closed

[2019-05-02 11:38] nicojs commented on #790
Awesome! LGTM

[2019-05-06 10:11] myflowpl opened #955 "ts-node is not running sub-command"
`ts-node` is running the first command correctly

but the `sub-command` gives empty output, nothing happens

`npm run start` gives the help as expected

`npm run start orient` gives empty results

If i change the files back to `.js` and run it with node it works as expected

`./package.json`
[code]
`./sm.ts`
[code]
`./sm-orient.ts`
[code]
`./tsconfig.json`
[code]

I'm using Ubuntu Windows Linux Su

[2019-05-06 11:56] shadowspawn commented on #559
Hopefully this issue will be fixed by #611

[2019-05-06 11:59] shadowspawn commented on #955
Nice complete reproduction example, thanks.

Technical detail.

Checking what node sees in `sm.ts` when run `ts-node sm.ts` get (shortened output):
- `process.argv` of `[ 'node_modules/.bin/ts-node',  'sm.ts', 'orient' ]` (ok)
- `process.execArg` of `[ 'node_modules/ts-node/dist/bin.js' ]` (uh oh)

Commander passes on `process.execArg` in case there are memory options or similar, producing an inco

[2019-05-06 12:06] myflowpl commented on #897
Hi, I just got the same problem solved

@Toub your sollution works, but if you have your program split to more then one file, you will get different instances in each file.

@Zikoel @akki005 just try import synax without asterisk, it works for me with node 10.15.1
[code]

[2019-05-06 12:20] myflowpl commented on #897
Strange, on one project it works, and on other one i have this error:

[code]

And I have no idea why, the versions are the same

[2019-05-06 12:37] myflowpl commented on #897
Ok, I found the difference, in order to make it working you have to set `"esModuleInterop": true,` in `tsconfig.json`

[code]

[2019-05-07 09:17] shadowspawn commented on #955
I think a work-around is to use node as the executable:

[code]

The `-r ts-node/register` pattern is mentioned on the ts-node page, and in the Commander pull request adding `.ts` support:
- https://github.com/TypeStrong/ts-node
- https://github.com/tj/commander.js/pull/849#issuecomment-486339583

[2019-05-07 09:40] myflowpl commented on #955
Yes, it works, but the problem for me is I need to pass the location of custom `tsconfig.json`.

You can do it like this: `ts-node --project src/tsconfig.json sm.ts`.

And I can't find the way to make it with `node -r ts-node/register sm.ts` syntax

[2019-05-07 09:41] shadowspawn commented on #785
Reproduced the problem, but there is an easy work-around to specify the full filename.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-05-07 09:45] shadowspawn commented on #579
This is also reported in more recent https://github.com/tj/commander.js/issues/759

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-05-07 09:45] #579 closed

[2019-05-07 09:53] shadowspawn commented on #955
Getting messier especially for cross-platform, but you could define `TS_NODE_PROJECT`?

Mentioned under:
- https://github.com/TypeStrong/ts-node#cli-and-programmatic-options
- https://github.com/TypeStrong/ts-node#visual-studio-code

[2019-05-07 09:57] myflowpl commented on #955
So true, I just didn't read the docs carefully enough and just learned new thing :)

Now it works  with this `package.json` script
[code]
So now the workaround is fully functional.

But if the issue is to hard to fix, the typescript configuration, and the workaround should at least be added to the documentation.

Thanks for your help.

[2019-05-07 11:15] shadowspawn commented on #539
I was not able to reproduce this issue, but the command options are the third parameter, so expected call would be like:

[code]

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-05-07 11:15] #539 closed

[2019-05-07 11:44] shadowspawn commented on #926
Closing this in favour of #708

Thank you  for your contributions.

[2019-05-07 11:44] #926 closed

[2019-05-07 12:01] shadowspawn commented on #708
The current regex behaviour is very simple, and sets the default value if the regular expression is not matched by the argument (and consumes the argument).

You could avoid the surprising "true" by  including a default value (although still weak error handling):

[code]

[2019-05-07 21:42] freelock opened #957 "Option with space in value cannot be passed"
Hi,

I've defined an option as
[code]
... and this works fine for a single word, but I cannot find any way to escape spaces to send a phrase or sentence.

Have tried quoting the phrase with single or double quotes, or using backslashes/other typical shell escape characters -- whatever I do, program.subject ends up getting assigned the first word of the option, and the rest get accumulated into arg

[2019-05-08 02:20] shadowspawn commented on #957
My guess is the problem is extra shell interpretation due to how you are calling your program. Try logging out `process.argv` to see if the arguments have been split before they get into the program.

[code]

[code]

[2019-05-08 06:58] freelock commented on #957
Hmm yes, you're right! process.argv is showing these split no matter what I pass in -- but this does look affected by the shebang line.

I've been using:
[code]
but when I switched it to
[code]
... it now seems to pass the quoted parameters as a single parameter, instead of breaking on each space no matter what...

Any idea why?

[2019-05-08 07:17] freelock commented on #957
ok weird... thanks for your help, looks like I had some strange wrapper bash script in ~/.composer/vendor/bin/node, which was in my $PATH... this did resolve to the same node binary eventually, but I guess the extra bash script somehow mangled the arguments... Removing that makes all work as expected! Thanks for your help.

[2019-05-08 07:17] #957 closed

[2019-05-08 08:48] shadowspawn commented on #955
Note to self. Still wondering if we are spawning child process correctly in complex cases...

I added execPath to debugging, and think process.foo are self-consistent. `arg[0]` is the logical executable, `arg[1]` is the running script, and using execPath and execArg can pass the running script.

[code]

[code]

Can add script to execPath and execArg...
[code]

[2019-05-08 11:14] shadowspawn commented on #552
I was not able to reproduce this issue.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you for your contributions.

[2019-05-08 11:14] #552 closed

[2019-05-08 11:17] shadowspawn commented on #540
The comments in #540 suggest this was fixed in node 6.6.0.

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-05-08 11:17] #540 closed

[2019-05-09 00:07] shadowspawn commented on #943
Updated README to clarify option types and custom processing, including parseInt

[2019-05-09 00:07] #943 closed

[2019-05-09 00:09] shadowspawn commented on #884
Updated README to clarify option types, including section for default option value
https://github.com/tj/commander.js#default-option-value

[2019-05-09 00:09] #884 closed

[2019-05-09 00:10] shadowspawn commented on #790
Updated README with section right at start showing use of Command class
https://github.com/tj/commander.js#declaring-program-variable

[2019-05-09 00:10] #790 closed

[2019-05-09 00:14] shadowspawn commented on #574
I have rewritten the options description in the README, mentioning the default boolean value being undefined, and covering negatable boolen separately (both with examples). Hopefully this should make it clearer what the current behaviour is.

[2019-05-09 00:14] #574 closed

[2019-05-09 05:55] shadowspawn commented on #400
I have updated the options coverage in the README. I'm not claiming to have addressed all the varied  concerns here, but hopefully reduced some confusions!

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-05-09 05:55] #400 closed

[2019-05-09 05:59] shadowspawn commented on #201
The options coverage in the README has been updated and includes new description of custom option processing, including a working `parseInt` example.

https://github.com/tj/commander.js#custom-option-processing

[2019-05-09 05:59] #201 closed

[2019-05-09 06:03] shadowspawn commented on #937
It now _explicitly_ says single character in the documentation. (But still no warning about coding error, so feel free to keep this issue open.)

[2019-05-09 06:12] shadowspawn commented on #836
An answer was provided, and no further activity in a month. Closing this as resolved.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

[2019-05-09 06:12] #836 closed

[2019-05-09 08:36] shadowspawn commented on #666
8. milestone to track v3.0.0?

The other good option for tracking a release is milestone!

I expect the items get ticked off as merged so I think we would change the base branch to v3.0.0 when merging the pull requests. Still thinking about this approach but current favourite...

[2019-05-12 09:41] shadowspawn commented on #188
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

This is reference in meta issue  #934.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-05-12 09:41] #188 closed

[2019-05-13 08:54] shadowspawn commented on #666
Note: original v3 WIP PR was #661 and has some commits which might be consulted or cherry picked, especially for ES6 changes.

[2019-05-13 09:16] shadowspawn commented on #625
I think having commands sorted is a good default, but am concerned how many users over the years have carefully created custom orders for their help and would be disappointed by an enforced change.

Do we need to provide an opt-out for sorting?

[2019-05-13 09:17] shadowspawn commented on #910
I think having options sorted is a good default, but am concerned how many users over the years have carefully created custom orders for their help and would be disappointed by an enforced change.

Do we need to provide an opt-out for sorting?

[2019-05-13 11:12] shadowspawn commented on #635
See #916 for Azure implementation.

[2019-05-13 11:55] shadowspawn commented on #666
Update on comment [2. open Pull Requests](https://github.com/tj/commander.js/issues/666#issuecomment-477439466). I have looked at every PR adding comments and closing the ones I think we should not proceed with at this time. (Please feel free to reopen or comment on any you disagree with closing so we can discuss them.)

We are down from 58 open PR to 22, including some reviewed and merged.

[2019-05-13 12:04] shadowspawn commented on #546
(Note: deleted a couple of comments in this thread that were not contributing to improving this package.)

[2019-05-13 12:05] holmrenser commented on #944
You should probably add #828 to this.

[2019-05-13 12:10] shadowspawn commented on #944
@holmrenser Not quite what I had in mind originally, but done. Thanks. 🙂

[2019-05-13 12:22] shadowspawn opened #959 "Update Chinese README"
I did a big rewrite of the options in the english README. There were no associated changes in the way Commander behaves, just improved explanation of the current behaviour.

The Chinese version is now out of date and a PR to catch up is welcome.

[2019-05-13 18:20] tedivm commented on #625
I wouldn't even mind it being opt in to preserve backwards compatibility.

[2019-05-14 10:27] shadowspawn commented on #902
(Note to self: unrelated other than also undocumented and might cover in same section of less common routines, `.name()` and `.opts()`.)

[2019-05-14 11:40] shadowspawn commented on #689
This has got a few likes and I have thought the same myself at times, so although no recent activity on this issue I am adding a comment rather than closing as stale.

A reason for not returning empty `.optionHelp` when no custom options (as suggested) is that the help may be displayed programatically and in that case the help entry itself is not redundant. Otherwise this would be a nice simple ap

[2019-05-15 11:21] laurentseal opened #961 "Unknown options lead to program exiting silently without action"
Commander version 2.13.0

Calling commander.js with an unknown option or an unknown command leads to the program exiting silently with an exit status of 0.

Ex.
``` ./commanderjsbinary --option1 "argument1" --boolean-option-1 this-command-doesnt-exist  cmd "cmdargs" ```

Note: The following example is minimal, but in bigger projects with existing options it causes the program to exit without warni

[2019-05-15 11:32] shadowspawn commented on #961
A previous issue which might cover your case is #561

[2019-05-15 11:53] laurentseal commented on #961
This seems to be a duplicate, ok

[2019-05-15 11:53] #961 closed

[2019-05-15 16:22] laurentseal opened #962 "Subcommand destroys ordering of options"
Commander.js version: 2.13.0

The feature "subcommand in dedicated binary" destroys option ordering for boolean longopts. The bug is that, for unknown options, commander always assumes they have an argument. Boolean longopts don't have an argument, so commander assumes the next option to be an argument to the boolean option. Unknown options get sorted to the end of the argument list, so option ord

[2019-05-15 20:59] MatthewRalston commented on #962
Seconded. I'm having a similar issue with 'git-style subcommands'. I have to admit it's only happening for one of my subcommands. For example, I'm using a `--verbose` flag to enable debug level logging in a subcommand. Node v12.2.0, commander 2.20.0

## Expectation

I expect that the process.argv from the 'git-style subcommand' is identical in order to process.argv from the main command

## Observ

[2019-05-16 07:10] shadowspawn commented on #962
Thanks for the detail @laurentseal and @MatthewRalston.

Related open issues: #508
Related open PR: #734

(As I noted in #734, I am surprised things are potentially this broken, which makes me wonder if there are some calling patterns which are ok.)

[2019-05-16 10:20] shadowspawn commented on #913
Closing in favour of #571

[2019-05-16 10:20] #913 closed

[2019-05-16 10:41] shadowspawn commented on #683
Answered by @vanesyan

An answer was provided, and no further activity in a month. Closing this as resolved.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

[2019-05-16 10:41] #683 closed

[2019-05-17 09:44] shadowspawn commented on #443
Referenced from #945

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-05-17 09:44] #443 closed

[2019-05-17 09:45] shadowspawn commented on #435
Referenced from #945

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-05-17 09:45] #435 closed

[2019-05-17 18:27] misterhat commented on #764
I had assumed this is how it functioned by default. Super unintuitive to involve separate files by default.

[2019-05-19 00:10] shadowspawn commented on #875
An answer was provided, and no further activity in a month. Closing this as resolved.

This is an area we intend to improve, and #944 collects together some of the related issues (including this one).

Feel free to open a new issue if it comes up again, with new information and renewed interest.

[2019-05-19 00:10] #875 closed

[2019-05-20 10:18] shadowspawn commented on #959
Updated in #964, thanks to @banli17

[2019-05-20 10:18] #959 closed

[2019-05-20 10:53] shadowspawn commented on #553
I was not able to reproduce this issue.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-05-20 10:53] #553 closed

[2019-05-20 11:00] shadowspawn commented on #419
I was not able to reproduce this. (Hopefully fixed!)

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-05-20 11:00] #419 closed

[2019-05-20 11:00] shadowspawn commented on #628
I was not able to reproduce this. (Hopefully fixed!)

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-05-20 11:00] #628 closed

[2019-05-20 11:13] shadowspawn commented on #684
Reproduced.

[2019-05-20 13:15] mrgrain commented on #230
AWS CLI
[code]
Last line mainly.

Option 1: Additional boolean parameter at the end:
[code]

Option 2: Fancy string syntax => Add (a) star(s) somewhere with the value
[code]

[2019-05-23 15:00] usmonster commented on #939
Thanks for the triage work here, especially concerning the readme & examples updates in #953! FYI, I've updated my open PR (#795) to include your changes.

Regarding this:

Once you get around to finishing your review, please let me know if there's anything related to [my comment on Custom Events](https://github.com/tj/commander.js/pull/795/files#r185717938) that you think might require further fu

[2019-05-23 17:52] clarsen commented on #921
Attached is a PR that does the suggested behavior and adjustment of tests.  I'm a little hesitant about it though because it breaks the existing default behavior of ignoring unknown options, instead resulting in an error.

While this is the desired behavior for my programs, others might be relying on the silent default handling of unknown options.

[2019-05-23 20:06] wesleytodd commented on #600
Hey @shadowspawn, not sure why I got a github notification for this today and not when you made this comment, but here I am.

So I guess I am still unclear of this issue being closed if we can agree that it is in fact still a real bug.  Maybe you don't agree that it is a real bug?

As for the wheel of time (wot) reference, I see now that the author of that series must have taken influence from Thi

[2019-05-24 05:31] shadowspawn commented on #600
To focus maintainers and contributors on issues which are affecting more people.

I am not saying it isn't a bug, I am not saying it won't be fixed or shouldn't be fixed, but I am saying it is not a high priority at this time.

[2019-05-24 06:32] shadowspawn commented on #600
Also, I wrote a longer reply about philosophy of closing issues in general here: https://github.com/tj/commander.js/issues/331#issuecomment-479339361

[2019-05-25 22:52] shadowspawn opened #966 "POLL: how do you use Commander `.command`?"
I see three main patterns for how to use Commander and commands:
- just parse options, no commands, or at least not run directly by Commander
- commands implemented with`.action` callbacks
- commands implemented with git-style executables

How do you use Commander? You can 👍 more than one pattern.

[2019-05-25 22:53] shadowspawn commented on #966
Pattern: no commands

👍 if you use Commander just to parse the options, and either do not have commands or process them yourself.

[2019-05-25 22:54] shadowspawn commented on #966
Pattern: `.action`

👍 if you use `.command` and attach a `.action` callback to implement the command.

[2019-05-25 22:56] shadowspawn commented on #966
Pattern: git-style executable

👍 if you use `.command` and implement it in a separate executable file using the git-style executable support.

[2019-05-27 07:27] shadowspawn commented on #787
Added TypeScript tips in README. Hopefully that helps.
https://github.com/tj/commander.js#typescript

[2019-05-27 07:27] #787 closed

[2019-05-27 07:28] shadowspawn commented on #955
Added TypeScript tips in README. Hopefully that helps.
https://github.com/tj/commander.js#typescript

[2019-05-27 07:28] #955 closed

[2019-05-27 08:14] shadowspawn commented on #708
Short version: I have downgraded the regular expression support and removed it from the README (!).

Long version

I had a look at some of the reported issues including this one, and the code. I think the regular expression support is an incomplete feature that is likely to disappoint when the option value does not match the pattern. For now I don't think it is useful enough in general to try and

[2019-05-27 08:14] #708 closed

[2019-05-27 08:41] shadowspawn commented on #926
Short version: I have downgraded the regular expression support and removed it from the README (!).

See: https://github.com/tj/commander.js/issues/708#issuecomment-496123000

[2019-05-27 09:36] shadowspawn commented on #797
(I am a maintainer now!)

This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-05-27 09:36] #797 closed

[2019-05-28 08:40] shadowspawn commented on #892
In answer to your first question, the current behaviour is when using a git-style (sub)command, these two are equivalent, and call the (sub)command with --help to display its help:

[code]

[2019-05-28 08:43] shadowspawn commented on #905
The current behaviour is when using a git-style (sub)command, these two are equivalent, and call the (sub)command with --help to display its help:

[code]

[2019-05-28 11:34] shadowspawn commented on #948
I came across the (simple) implementation code today and had another look at behaviour. Commander is blindly turning "help foo" into "foo --help", but reasonable it should work with alias.

Categorising this as a bug.

[2019-05-28 11:40] shadowspawn commented on #920
I think a simple commander program is so simple that not much benefit from a create application. Thanks for the suggestion though.

Thank you  for your contributions.

[2019-05-28 11:40] #920 closed

[2019-05-30 08:03] shadowspawn commented on #936
An answer was provided, and no further activity in a month. Closing this as resolved.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

[2019-05-30 08:03] #936 closed

[2019-05-30 08:06] shadowspawn commented on #866
No activity on this one for a month, and hopefully fixed. Fingers crossed. Closing.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

[2019-05-30 08:06] #866 closed

[2019-05-30 10:19] shadowspawn opened #969 "Update Chinese README for #967"
I added a Bits and Pieces section with TypeScript tips, and removed description of regular expression for option values. See #967

The Chinese version of README is now out of date and a PR to catch up is welcome.

[2019-05-31 10:01] shadowspawn commented on #969
Updated, thanks to @banli17

[2019-05-31 10:01] #969 closed

[2019-06-03 10:30] shadowspawn commented on #418
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-06-03 10:30] #418 closed

[2019-06-03 10:36] shadowspawn commented on #618
An answer was provided, and no further activity in a month. Closing this as resolved.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

[2019-06-03 10:36] #618 closed

[2019-06-04 16:16] danielo515 opened #971 "create commands that only accept fixed list of arguments"
Hello,

I was wondering if it is possible to create a command on commander that looks like this

[code]

Where `(on|off)` means that you must choose one or the other, mandatory.

Ideally, commander should take care of throwing the appropriate error and error message.

[2019-06-04 20:34] shadowspawn commented on #971
There is not support in Commander for this pattern. You could achieve something functionally similar by adding on and off commands, and throwing the appropriate error message yourself if not not supplied.

[2019-06-06 06:45] danielo515 commented on #971
Thanks @shadowspawn , it is good to know.
Any plan to implement such feature?

Regards

[2019-06-06 07:14] shadowspawn commented on #971
No plan to implement. Something similar has been asked for options (#518) but I do not recall being asked for arguments. You are welcome to leave issue open if you want to see if there is interest from other people, or close when satisfied with answers. (I leave issues open for at least month before closing.)

(A small clarification, I was a bit hasty and misinterpreted your original question. I a

[2019-06-07 21:47] arbazsiddiqui opened #972 "Command not exiting after execution on windows."
This is my cli.js :
[code]

When running using `utility t` (utility being the name of program) it prints `print something` but the cursor after that keeps blinking. Further cmd goes into powershell mode (title bar changes).
To exit after this command you have to press Ctrl^C. This prompt appears after that:
`Terminate batch job (Y/N)?`

This issue is irrespective of using `return` to return from a

[2019-06-09 00:12] shadowspawn commented on #972
Do you see the same behaviour if you run your program directly?

[code]

[2019-06-10 16:53] schof commented on #230
Not a fan of the asterisk. I prefer appending `true` to the end of the option as you have suggested.

[2019-06-11 08:54] shadowspawn commented on #666
I would like to be added as npm owner too at some stage please, and that does not need tj. Any current owner can do it:

[code]

[2019-06-11 11:26] vanesyan commented on #666
@shadowspawn done!

[2019-06-11 11:33] shadowspawn commented on #666
Confirmed, thanks @vanesyan

[2019-06-15 00:54] shadowspawn opened #975 "Tidelift Funding"
A company called [Tidelift](https://tidelift.com) offer subscriptions to companies to support their use of open source software, and Tidelift share  the money they receive with the software maintainers.

Tidelift has some funds available for Commander, but not a big amount:

- <https://tidelift.com/lifter/search/npm/commander>

The way to get the funding is to sign up as a "lifter" to perform vari

[2019-06-16 15:07] slavafomin opened #976 "Passing description to the "command()" method causes error being produced in runtime"
Hello!

Thank you for this great library!

However, when command description is passed as a second argument to the `Command.command()` method it causes the following error in runtime `error: foo-bar(1) does not exist, try --help`.

This doesn't work:

[code]

But this works:
[code]

This is extremely counter-intuitive, especially when you explore the API using IDE autocompletion. When I see the `d

[2019-06-16 16:00] slavafomin commented on #303
Why doesn't the Commander support the default command? This is a basic behavior for any CLI application.

[2019-06-16 21:07] shadowspawn commented on #976
It is a common cause of confusion.

[2019-06-16 21:10] shadowspawn commented on #938
Couple of documentation areas for improving status quo:
- be more explicit with parameter names that appear in IDE autocompletion (JSDoc, TypeScript)
- rewrite command section of README and cover different styles explicitly

[2019-06-16 21:20] shadowspawn commented on #303
See #742 for the currently open issue.

[2019-06-17 16:16] andares opened #977 "It looks not way to know has action is run?"
[code]

in `POINT A`, I know command pat action is run. in `POINT B`, I know user send a error command. in `POINT C`, it means may be a action is run, or none command was be sent.

but I can not find a way to know just none command was be sent, unless I add callback after signal each action, there could be hundreds..

I think program object should provide some api to get there has action be called

[2019-06-18 06:38] negiDharmendra opened #978 "Top level command action does not work."
When a CLI has `sub-commands`. Commander does not invoke top-level command action when any of the `sub-command` is not provided.

**Example:** demo.js
[code]

- When I run `demo dummy-command` everything works as expected and it prints **Executing sub command** on the stdout.
- When I run `demo` it does not print **Executing top-level command ** on the stdout.

Is there a way to get this working.

[2019-06-18 09:49] shadowspawn commented on #977
A simple way to check for no arguments:

[code]

[2019-06-18 10:29] andares commented on #977
I see, I will try it first, thanks.

[2019-06-18 10:29] #977 closed

[2019-06-18 10:36] andares commented on #976
I have same problem, when I try to attach a desc text to command, It's not work.

`alias` method also can not work.

[code]

*coding with reasonml now* 😹

[2019-06-18 11:24] shadowspawn commented on #978
I do not think there is support for invoking the "top-level" command action handler this way when there is a sub-command as well. (There was a change to call top-level command handler due to #729 but it only works when there are no subcommands. You could specify a default command if using git-style executable, but then options are not supported for the default behaviour so still not quite what you

[2019-06-18 12:08] negiDharmendra commented on #978
@shadowspawn The use case here is about a browser automation tool [Taiko](https://github.com/getgauge/taiko). Taiko comes with a CLI.

- User can run a script like `taiko some-script.js`.
- User can open an [intractive REPL](https://user-images.githubusercontent.com/54427/43075023-f4d18878-8e9c-11e8-91b2-227a3d02e0f6.gif).

By default `taiko` CLI does not have any sub-commands. Users can extend `t

[2019-06-18 20:03] alexstandiford commented on #764
Expanding on my new hero, @a-fas

If you tweak @a-fas's snippet and put it in a separate file, `commander-patch.js` and export it as a module, you can just call the patch instead of commander.

[code]

[code]

With this, if you run `node index.js project list`

You will get a response, `ran`

[2019-06-18 23:18] shadowspawn commented on #976
FYI @andares (and I think @slavafomin worked this out after getting caught out by the current behaviour).

For action based command handling you pass the description separately from the command:

[code]

For git-style executables you pass the description along with the command:

[code]

[2019-06-19 00:31] alexstandiford commented on #764
I should also mention that @a-fas's solution doesn't seem to support the `.option()` flag. I was able to workaround this by using [Inquirer.js](https://github.com/SBoudrias/Inquirer.js)

[2019-06-19 10:39] shadowspawn commented on #978
Some guesswork and experimentation.

[code]

[code]

[2019-06-20 13:44] slavafomin opened #979 "Adding negative option makes Commander.js to return "true" when option is not specified"
Hello!

I'm encountering yet another strange behavior of Commander.js.

When I add the following option:
`command.option('--clean', 'cleans the destination build directory');`

And then run my program this way: `program`, the Commander returns `clean` option as `undefined`.

However, when I add an additional negative option:

[code]

It starts to return `true` for the `clean` option when executed

[2019-06-20 19:58] kazelone commented on #764
I was stumbling in the same case and have found a bunch of those issues open here.
I noticed you can do something like this, which works pretty well :
[code]

Help seems working properly, except when no command at all is provided, help is not displayed.
Fixed the latter with this construct :
[code]

[2019-06-20 20:59] alexstandiford commented on #764
I wonder if that could be added in the prototype, somehow?

[2019-06-20 23:47] shadowspawn commented on #979
There is special processing for `--no-foo` which makes `foo` true by default. See: https://github.com/tj/commander.js#other-option-types-negatable-boolean-and-flagvalue

When the feature was added long ago, it was assumed it would be used without the ordinary flag. There are currently issues with trying to use both `--no-foo` and `--foo`. See #939.

[2019-06-21 11:33] slavafomin commented on #979
@shadowspawn thank you for explanation. But is there a way to disable this special behavior for `--no-` prefixed options?

[2019-06-21 11:41] shadowspawn commented on #979
Short version: no. (Not that I am aware of.)

[2019-06-21 12:43] andares commented on #976
if set description with command() function:

[code]

there has problem when run:

![图片](https://user-images.githubusercontent.com/7556505/59922565-a7d5f180-9463-11e9-8398-f4a49635ca81.png)

[2019-06-21 23:29] shadowspawn commented on #976
@andares
Do not put the description in the call to `.command`, just pass one parameter which is the command name.

I fixed my comment with examples where I had a mistake, hopefully clearer now! (Sorry.)
https://github.com/tj/commander.js/issues/976#issuecomment-503346600

[2019-06-22 00:40] shadowspawn commented on #979
See #795 for the new behaviour if it is accepted (which is likely).

[2019-06-22 00:45] shadowspawn commented on #975
Bump: you ok with me signing up to Tidelift @abetomo?

[2019-06-22 04:16] andares commented on #976
I got it, thanks 😄

[2019-06-22 04:47] shadowspawn commented on #666
I have created a milestone for a less ambitious v3.0.0 which includes all of the open Pull Requests that I am happy enough with to finish myself if necessary. I'll create a release branch and start merging in code.

If I mark something for v3 that you have concerns about, feel free to add a comment in the Pull Request.

I'll add a comment when I start looking at a Pull Request, and raise any conce

[2019-06-22 04:52] #666 closed

[2019-06-22 05:09] shadowspawn commented on #666
(And do feel free to add a comment if I am leaving out something you think should be included in v3,  either in the Pull Request or in the milestone.)

[2019-06-22 06:02] shadowspawn commented on #937
Some more errors or warnings for coders (rather than users) is something we can improve in future. Closing this as have made _an_ improvement with the addition to the README.

[2019-06-22 06:02] #937 closed

[2019-06-22 06:09] shadowspawn commented on #838
Closing this one in favour of #533. Open PR with possible approach is #874.

[2019-06-22 06:09] #838 closed

[2019-06-22 06:19] shadowspawn commented on #705
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Side notes:
- I was not able to reproduce the `[object Object]` behaviour
- the `isDefault` currently only works for executable commands, not action based handlers

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributi

[2019-06-22 06:19] #705 closed

[2019-06-22 06:26] shadowspawn commented on #578
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

This request did get some 👍 so I appreciate there may be some interest. We already have a few help customisation options, but not something that does a "header".

Thank you  for your contribution

[2019-06-22 06:26] #578 closed

[2019-06-22 06:37] shadowspawn commented on #333
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-06-22 06:37] #333 closed

[2019-06-22 06:41] shadowspawn commented on #61
An answer was provided, and no further activity in a month. Closing this as resolved.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

[2019-06-22 06:41] #61 closed

[2019-06-22 06:45] shadowspawn commented on #919
An answer was provided, and no further activity in a month. Closing this as resolved.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

[2019-06-22 06:45] #919 closed

[2019-06-22 07:08] shadowspawn commented on #125
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-06-22 07:08] #125 closed

[2019-06-23 01:05] shadowspawn commented on #385
@bencao has done an integration with Omelette in #907, but it was decided not to include it in Commander itself at this time.

[2019-06-23 05:19] shadowspawn commented on #927
Closing this in favour of #649

[2019-06-23 05:19] #927 closed

[2019-06-23 05:26] shadowspawn commented on #706
Recategorising this as a bug and adding to v3 milestone to have a go at changing the behaviour in a breaking version.

[2019-06-23 08:24] shadowspawn commented on #825
An answer was provided, and no further activity in a month. Closing this as resolved.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

[2019-06-23 08:24] #825 closed

[2019-06-23 08:27] shadowspawn commented on #938
First steps are looking to resolve #706, and improving documentation (README, JSDoc, TypeScript).

[2019-06-23 09:13] shadowspawn commented on #609
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

The current `allowUnknownOption` is very limited, it simple suppresses the error message without offering any support for identifying or further processing of the unknown options. Still open issues covering this are: #802 #903

Feel free to open a new issue if it comes up again, with new in

[2019-06-23 09:13] #609 closed

[2019-06-23 09:22] shadowspawn commented on #928
Thinking of allowing default value for boolean flags in conjunction with #795 to support this pattern of defaults coming from env .

[2019-06-23 12:38] slavafomin commented on #979
The existence of the negated option shouldn't make `true` the default value for non-negated one. This is just a bad design and a very non-intuitive behavior.

If we say "user can ask to make pizza without a cheese" it doesn't mean, that if she didn't ask it, we have to always make pizza with cheese. It's a twisted logic.

The much better API would be:
- if option is specified without a value, i.e.

[2019-06-23 13:34] usmonster commented on #979
Totally agree, and as mentioned above, this will very likely be fixed in the next major version. Feel free to subscribe to #795. :)

[2019-06-23 15:00] slavafomin commented on #979
@usmonster great to hear that we are on the same page on this. Thank you for you contribution! Looking forward for this to be merged.

[2019-06-23 15:52] usmonster commented on #928
Please see [my comment](https://github.com/tj/commander.js/pull/795#issuecomment-504761269) on #795 for an alternative approach, which I think reduces the need for this kind of feature to be built-in.

In summary, you can use [custom event listeners](https://github.com/tj/commander.js#custom-event-listeners) to get the exact behavior you want without hacking around the option type.

Alternatively,

[2019-06-24 00:21] shadowspawn commented on #928
@usmonster

I think the desired behaviour is that the environment variable is optional and supplies the default value, and the command line flags override this. So for example (just for monitor):
[code]

[2019-06-24 05:12] abetomo commented on #975
Signed up for Tidelift.
Is there anything else to do?

[2019-06-24 05:31] phated commented on #975
@abetomo I just reached out via email to finish our signup process. You and @shadowspawn should also agree on the % split for the funding.

[2019-06-24 07:09] usmonster commented on #928
Oops! Sorry, I indeed misread. In this case, the two lines would instead be:

[code]

...and so the output is now:

[code]

Thanks for the catch, @shadowspawn!

[2019-06-24 10:57] shadowspawn commented on #706
Had a look into this, and not going to attempt it in v3 after all. An insight though: the git-style executable (with description) returns the program for chaining; the action-style subcommand (without description) returns the new command for chaining.

[2019-06-25 23:53] acds commented on #786
@shadowspawn did it make the 2.20.0 release - I fear not

[2019-06-26 00:40] shadowspawn commented on #786
@acds
The change from #935 is in v2.20.0.
https://github.com/tj/commander.js/compare/v2.19.0...v2.20.0

[2019-06-26 06:10] shadowspawn opened #982 "TypeScript definitions file contain full JSDoc"
The `index.d.ts` file has been created by including the full comments from `index.js`, including the JSDoc parameter type annotations. When the help text is displayed in Visual Studio Code, the type definitions in the JSDoc are stripped since they are specified by the TypeScript itself, which leaves some low value comments for some routines.

I wonder whether the comments should be reworked to mat

[2019-06-26 13:59] oa495 commented on #689
Any update on this?

[2019-06-26 18:38] hixus opened #983 "What is the best practice for organising large commander tool?"
My commander based tool is getting quite large and I was thinking about splitting it to separate files but couldn't find an example. I would still like to have single executable but import different commands from their own files. Only thing what came to mind was:

[code]

Is there some other way?

[2019-06-26 20:36] shadowspawn commented on #689
Any new information @oa495 ?

Not included in https://github.com/tj/commander.js/milestone/3

[2019-06-26 23:27] shadowspawn commented on #983
That is simple and effective.

In my project, I decided to keep the Commander setup in a single file and import the modules to call from the action handler. I like having the CLI in a single file to help keep the style of the commands and custom help consistent. I don't think this is better than  what you suggested, just sharing an alternative.

e.g. TypeScript
[code]

[2019-06-27 04:29] phated commented on #975
@abetomo did you receive my email?

[2019-06-27 04:41] abetomo commented on #975
Sorry for replying so late.
I replied.

[2019-06-27 18:27] r4j4h opened #984 "Optional type and Custom option processing do not work together"
[This section of the docs](https://github.com/tj/commander.js#other-option-types-negatable-boolean-and-flagvalue) indicates

and then [Custom option processing docs](https://github.com/tj/commander.js#custom-option-processing) indicates

Currently custom options behave differently based on if an optional argument is provided. The examples only show no argument and required argument (`<example>`) b

[2019-06-28 02:47] shadowspawn commented on #975
We are now officially "Lifters". Thanks for split @abetomo !!

I'll start looking at lifting tasks in weekend, but will be spending time on v3 too.

[2019-06-28 02:47] #975 closed

[2019-06-28 10:41] shadowspawn commented on #984
By happenstance, I was looking at this code last night and had some idea of the cause. After some digging...

When the hybrid option with optional value is used as a flag, an event is emitted with a null argument:
https://github.com/tj/commander.js/blob/1c1ffca5d691ada5980ccfd81f42ecc006c0f62c/index.js#L744

The event handler that calls the custom option processing skips the call if the argument i

[2019-06-28 11:58] shadowspawn commented on #984
Turned out to be a good theory, the test for null dates back to the conversion from the simpler coercion function to the more flexible custom option processing:

https://github.com/tj/commander.js/commit/edafae1b47b1002a8e7491b1135197586211ecb5

[2019-06-29 05:07] shadowspawn commented on #984
An alternative approach could be to use an event listener, which does get called for both types of call.

[code]

[code]

[2019-06-30 00:06] shadowspawn opened #985 "Drop API link from README?"
There is a link in the README to the [API documentation](http://tj.github.com/commander.js/)

In the early days this may have been the most authoritative documentation. We now have a more comprehensive README, IDEs with built-in support for JSDoc, and TypeScript. In particular I suggest the primary use of the JSDoc is now for built-in editor support in the IDE.

I think the documentation is update

[2019-07-01 01:56] abetomo commented on #985
I like it!

[2019-07-01 08:27] shadowspawn commented on #928
I have opened a Pull Request related to this issue. See #987.

[2019-07-02 11:46] shadowspawn commented on #982
The TypeScript comments should be using TSDoc rather than JSDoc:
- https://github.com/Microsoft/tsdoc
- https://api-extractor.com/pages/tsdoc/doc_comment_syntax/

[2019-07-02 19:14] carlesnunez commented on #230
I rather prefeer the usage of a property or function call which is more explicit and readable:

[code]

[2019-07-02 19:18] musicin3d commented on #230
Relatedly, required arguments should be enforced. It should do more than produce nothing.

See [above comment](https://github.com/tj/commander.js/issues/230#issuecomment-424897234) for an example.

[2019-07-04 09:06] waynevanson opened #989 "Aguments and Options together?"
Hi Guys,

How do we provide flags for aguments? i don't mind what parts of the API to get there, I just want to get there. I read through the readme and the arguments section was the closest thing I could find.

In a CLI, it would be like @angular/cli
[code]
Where `options` are options flags, such as `-c` or `-f`.

What is best practice? Can options be added using `.options` into the arguments?

[2019-07-04 09:44] shadowspawn commented on #989
You can add flags to commands.

[code]

[code]

[2019-07-04 12:33] waynevanson commented on #989
[code]

[2019-07-04 13:03] waynevanson commented on #989
After reading (this)[https://github.com/oclif/oclif#-cli-types] about multiline cli's, it looks like the path of least resistance is to use commander to trigger another command program using the current one.

So `ng generate` would trigger the generate commander program, which could then have `component [options] <path>`

Have you seen this done before? Would there be a better way? Thank you for g

[2019-07-05 05:54] shadowspawn commented on #989
I'll give you a scatter of relevant information.

1) Using `.action` to handle commands like in the example I gave, you can have one layer of subcommands. So as you noted, `ng generate` but not `ng generate component`.

2) Using git style executables, you can have more layers.

3) A handy feature for passing options to deeper commands you spawn yourself is that `--` tells commander to stop looking

[2019-07-05 15:37] r4j4h commented on #984
Great thinking with the event listener! I like that approach a lot, and hadn't even noticed it in the documentation 😊

[2019-07-06 10:23] waynevanson commented on #989
I think that maybe I'm after something a bit more customizable. It doesn't seem this or any other CLI tool that supports typescript properly exists to handle this easily. In example, i'd probably want an API that is a little more declarative:
[code]

This way I know exactly what the user could input  and in what order. I find the options in commander being at the start restrictive.

Thank you for

[2019-07-06 10:23] #989 closed

[2019-07-07 06:43] shadowspawn commented on #938
Pull request including JSDoc and TypeScript improvements underway: #990

[2019-07-07 09:34] shadowspawn commented on #903
Closing in favour of #802

Thank you  for your contributions.

[2019-07-07 09:34] #903 closed

[2019-07-07 09:50] shadowspawn commented on #972
This issue has not had a response in a month. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-07-07 09:50] #972 closed

[2019-07-07 09:51] shadowspawn commented on #971
An answer was provided, and no further activity in a month. Closing this as resolved.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-07-07 09:51] #971 closed

[2019-07-09 14:30] trisimix commented on #571
This is a pretty necessary feature, you can see multiple alternatives to commander implementing it. If I make anything for a pipeline, I'm going to want to be able to pass a variadic amount of files or whatever to it. The comma and multi-flag work arounds are janky.

[2019-07-10 07:03] shadowspawn commented on #571
I see Yargs has https://yargs.js.org/docs/#api-arraykey and uses the `--` terminator suggested by the original poster.

(@trisimix I assume you realise you can currently pipeline to a command argument including the top-level command, but not to an option as such.)

[2019-07-12 19:08] pavelloz commented on #826
I dont know if it helps, but i always define executable as relative path and it always works, ie.

[code]

[2019-07-14 22:20] weilinzung opened #994 "How to check if option(flag) is set?"
I have multiple options in one command, how do I check if the option(flag) is set while using the terminal?  If there are no any options(flags) then exit.

[code]

// normal command line
[code]
// wrong command line that missing flag would return to exit
[code]

Thanks!

[2019-07-15 01:54] yossan opened #995 "The Command.prototype.parse() method has issues."
This method has the following issues:

* when registered `subcommand`, thier arguments and options isn't parsed to check valid.
* when registered `action`, `this.parseArgs()` called subcommand without parsing their arguments and options.

As a result, this method's arguments are not evaluted correctly in subcommand.
In the following code expect to occur `error: missing required argument "file"` bu

[2019-07-15 02:02] shadowspawn commented on #995
Thanks @yossan. There are some deliberate differences in behaviour between `.action` and separate executable sub-commands, but I think there are also a number of shortcomings and accidental differences. Bring them closer together and detecting more errors is on my wish list.

[2019-07-15 02:04] yossan commented on #995
@shadowspawn

Thank you for the review.
I want "the required argument" to work correctly.
It's a really great library.

[2019-07-15 10:42] shadowspawn commented on #994
If you had a lot of options you could loop over `options.opts()` properties looking for any that were defined (not counting `version`), but for three options I would just list them, keep it simple:

[code]

[2019-07-15 11:55] weilinzung commented on #994
@shadowspawn

I was almost there because asking it, but just miss the `!`.

thanks!

[2019-07-15 11:55] #994 closed

[2019-07-17 08:14] rap2hpoutre commented on #985
Should we close this issue since #988 is merged?

[2019-07-17 08:24] shadowspawn commented on #985
The changes have been merged to branch `release/3.0.0` but not to `master` (yet). I am currently leaving issues open until the changes land on `master`. Partly just in case, partly so they are still visible for discussion.

[2019-07-18 09:53] crystalfp opened #997 "Could have error() output to stderr?"
I have a command line application with the output redirected to a file.
[code]
If `mandatory-argument` is not present, commander `help()` function is called. Unfortunately the help text goes to the output file due to the redirection. In the commander source file, the help output is hardcoded to go to stdout (line 1147).

A workaround is to call `help()` this way:
[code]
But should be simpler if al

[2019-07-20 21:46] roxspring opened #1000 "How can I ensure that exactly one argument has been supplied?"
I've tried defining a command with a single required argument, and attempted to validate that exactly one source specified:

[code]

And running the program with no arguments, correctly prints 'Invalid arguments' since `program.args.length` is 0. But with 1 argument (`program a`) `program.args.length` is 2!? and outputs the following, claiming that `program.args.length` is 2!?

[code]

Weirdly run

[2019-07-20 22:34] shadowspawn commented on #1000
There is not currently error detection for excess arguments, and it is not currently easy to handle it yourself in a general way. In simple cases you can check the argument count or the original arguments (`process.argv` or `program.rawArgs`).

Open issue is #749 and has some other ideas.

[2019-07-21 05:07] shadowspawn commented on #481
Pull Request being considered for v3 is #999

[2019-07-21 05:07] shadowspawn commented on #532
Pull Request being considered for v3 is #999

[2019-07-21 05:08] shadowspawn commented on #826
Pull Request being considered for v3 is #999

[2019-07-21 05:08] shadowspawn commented on #714
Pull Request being considered for v3 is #999, which will at least allow manual override.

[2019-07-21 05:11] shadowspawn commented on #890
Pull Request being considered for v3 is #999, which will at least allow manual override

[2019-07-21 05:15] shadowspawn commented on #944
Pull Request #999 is being considered for v3, adds option to override executable file name

[2019-07-23 12:06] shadowspawn opened #1001 "v3.0.0 prerelease available"
Getting close to wrapping v3.0.0.
- [Release Notes](https://github.com/tj/commander.js/releases/tag/v3.0.0-0)
- [CHANGELOG](https://github.com/tj/commander.js/blob/release/3.0.0/CHANGELOG.md)
- [README](https://github.com/tj/commander.js/blob/release/3.0.0/Readme.md)
- [Milestone](https://github.com/tj/commander.js/milestone/3?closed=1)
- [Code](https://github.com/tj/commander.js/tree/release/3.0.

[2019-07-25 01:48] ngocdaothanh opened #1002 "Support subclassing Command"
Currently, the return type of the methods in class `Command` is `Command`:

[code]

I cannot extend `Command` to add more methods, like this:

[code]

So, please change the return type of the methods in `Command` to `this`.

[code]

It seems that simply changing the definitions in index.d.ts is not enough. The main source code must also be changed.

See:
https://github.com/microsoft/TypeScript/pul

[2019-07-26 00:00] ngocdaothanh commented on #1002
[code]

It's not that simple, because the current design is to return a new `Command` instance, unless `desc` is specified; the return type is `Command | this`.

So to support subclassing, we need to change the design of `command`.

[2019-07-27 01:25] shadowspawn commented on #1001
I have expanded the changelog a little with more examples of the new features. I had wondered about covering breaking changes explicitly in a separate section, but will only add that for issues we get feedback about.

[2019-07-27 01:38] shadowspawn commented on #1001
I think we are ready for prerelease, but let me know if I missed anything. Version number is 3.0.0-0 on the `release/3.0.0` branch.

I have not published many prereleases, so a tip that you specify the tag on the publish like so (to avoid it being tagged as latest):

[code]

I'll leave publish from `release/3.0.0` branch to you @abetomo, but happy to do it if you like.

[2019-07-27 01:52] shadowspawn commented on #921
I have reproduced this, and realised it is a duplicate of #561. Closing in favour of that open issue.

Thank you  for your contributions.

[2019-07-27 02:26] shadowspawn commented on #1002
Yes, for action handler based subcommands (no description), `.command` returns a new object representing the new command. (That might be doable using a factory method to create the new object, but definitely more complicated than just changing the TypeScript definition for `.command`.)

[2019-07-27 02:39] abetomo commented on #1001
Thank you.
Published in the 'next' tag.

[2019-07-27 04:35] shadowspawn commented on #1001
Readers can try the prerelease with:
[code]
or from the github branch if you prefer:
[code]

See the changelog for details:
https://github.com/tj/commander.js/blob/release/3.0.0/CHANGELOG.md

Open issues or add comment here for any problems you encounter.

[2019-07-27 04:39] shadowspawn commented on #928
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 04:41] shadowspawn commented on #532
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 04:41] shadowspawn commented on #533
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 04:42] shadowspawn commented on #838
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 04:44] shadowspawn commented on #938
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

Reworked the README and JSDoc and TypeScript to hopefully make the two modes of operation clearer. Have not changed the runtime, but will close this issue and see how the changes help.

[2019-07-27 04:46] shadowspawn commented on #706
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

Reworked the README and JSDoc and TypeScript to hopefully make the two modes of operation clearer. Have not changed the runtime, but will close this issue and see how the changes help.

[2019-07-27 04:48] shadowspawn commented on #786
There will be a work-around for this issue when v3.0.0 is released, with an `executableFile` option to provide custom name. Available now as a prerelease. See #1001

[2019-07-27 04:49] shadowspawn commented on #976
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

Reworked the README and JSDoc and TypeScript to hopefully make the two modes of operation clearer. Have not changed the runtime, but will close this issue and see how the changes help.

[2019-07-27 04:49] shadowspawn commented on #985
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 04:51] shadowspawn commented on #108
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 04:51] shadowspawn commented on #939
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 04:52] shadowspawn commented on #979
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 04:53] shadowspawn commented on #47
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 04:54] shadowspawn commented on #473
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 04:57] shadowspawn commented on #395
This issue will be partially  resolved when v3.0.0 is released. Available now as a prerelease. See #1001

Support for passing option directly with short flags is added for recognised options (but not for options for subcommands with executable file as handler.)

[2019-07-27 04:58] shadowspawn commented on #739
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 05:09] shadowspawn commented on #630
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 05:15] shadowspawn commented on #481
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 05:16] shadowspawn commented on #890
This issue will have at least a work-around when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 05:16] shadowspawn commented on #877
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 05:17] shadowspawn commented on #826
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 05:17] shadowspawn commented on #714
This issue will at least have a work-around when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 05:21] shadowspawn commented on #613
This issue will be resolved when v3.0.0 is released. Available now as a prerelease. See #1001

[2019-07-27 05:29] shadowspawn opened #1003 "Update Chinese README for v3.0.0"
The README for v3.0.0 covers some new features, is reworked to improved clarity of subcommands, and various other smaller changes.

Currently on branch `release/3.0.0` and available as a prerelease (#1001)

The Chinese version of README is out of date for v3.0.0 and a PR to catch up is welcome.

[2019-07-27 13:43] usmonster commented on #1001
I think separate section for breaking changes isn't necessary, but maybe you could prefix the relevant bullet points with *[BC BREAK]*, or *BREAKING CHANGE:* or similar, if it doesn't make it harder to read?

Another small nit, which you can take or leave: can you please link the issue references to the pull requests? Though the references on [the Releases" page](https://github.com/tj/commander.js

[2019-07-27 22:45] shadowspawn commented on #1001
Thanks for the feedback. Added manual links.

[2019-07-28 08:59] shadowspawn commented on #1001
(Added a GitHub release too, to hopefully notify anyone watching repo for Releases. 📣  )

[2019-07-31 03:21] #921 closed

[2019-08-03 08:19] shadowspawn commented on #1001
Couple of minor followups on conventions:
- I use convention from https://keepachangelog.com  in other projects I maintain, so familiar with that
- I have been keeping an eye out for how other projects mark breaking patterns, and currently like **Breaking** prefix to change description when does not require further explanation

[2019-08-03 16:44] realappie commented on #729
I seem to have the same problem with sub-commands. My action does get called but the options object is empty.

See output for following command

```commandName example --customer=1```

[code]

[code]

[2019-08-03 23:04] shadowspawn commented on #527
I am not able to reproduce this issue, and expect it has been fixed, as there have been a few improvements to the separate executable lookup (git-style subcommand).

Thank you  for your contributions.

[2019-08-03 23:04] #527 closed

[2019-08-03 23:13] shadowspawn commented on #729
@realappie
You might not have noticed, but this is a closed issue so not as likely to get responses.

You have a different problem than the original poster for this issue. I'll quote the updated README description shipping soon in v3:

So you want:

[code]

[2019-08-06 12:54] shadowspawn commented on #1001
I have bumped version number to 3.0.0 on branch ready for release and merge to master.
Not tagged yet, and release date still to go in changelog.

I left a 3.0.0-0 title in changelog with just the date and a placeholder note. (I think it looks ok.)

[2019-08-07 00:27] shadowspawn commented on #1001
@abetomo
How about I tag and merge to master and develop branches tomorrow (Thursday)?
I'll leave npm publish to you?

I'll update Releases page in GitHub at same time as I merge. In the weekend after both npm and GitHub updated, I'll go through the resolved issues adding comments and closing.

[2019-08-07 05:40] abetomo commented on #1001
Leave it to me.

[2019-08-07 13:59] m67hoff opened #1007 "Howto: option with int value and default ?"
Hi, I try to create an option with integer value and default value.  However all my tries were  unsuccessful:

`.option('--port <int>', 'port', 33001)`
-> works for `run_connect` (no optional port number) and set port to 33001, but fails with `run_connect --port 22` , since port is a string

`.option('--port <int>', 'port', parseInt, 33001)`
-> fails since 33001 is taken as second argument for par

[2019-08-08 00:13] shadowspawn commented on #1007
There is a `parseInt ` example in the README. See under: https://github.com/tj/commander.js#custom-option-processing

See if that helps.

(The reason passing `parseInt` directly does not work is that it takes two parameters which are different than the two parameters passed to the custom callback function.)

[2019-08-08 06:25] #739 closed

[2019-08-08 06:29] shadowspawn commented on #1001
Tagged and pushed on master. Adding Release Notes now.

[2019-08-08 06:34] oGsLP commented on #1003
Hey, I've done a pr for this job, please check it!([#1008](https://github.com/tj/commander.js/pull/1008))

[2019-08-08 06:38] shadowspawn commented on #1003
Thanks @oGsLP! We are rolling out release v3.0.0 right now and will look at PR soon.

[2019-08-08 06:39] #1001 closed

[2019-08-08 06:43] shadowspawn opened #1009 "Commander v3.0.0 released"
Release notes: https://github.com/tj/commander.js/releases/tag/v3.0.0

If you encounter issues with this upgrade that it would be helpful to cover in more detail in the release notes, let us know.

[2019-08-08 07:46] shadowspawn commented on #1003
Merged into master branch.

Thank you  for your contributions.

[2019-08-08 07:46] #1003 closed

[2019-08-08 07:59] shadowspawn commented on #1001
Release Notes are done. Branches merged. Chinese README updated too.

I'm done until after npm release, when I am looking forward to updating quite a few open issues!

[2019-08-08 09:25] shadowspawn commented on #649
Current contenders are AVA (#755 ) and Jest (#1005).

[2019-08-08 19:30] auderer commented on #785
@shadowspawn I'm willing to work on a PR for this if you re-open and assign to me. It shouldn't be difficult to fix.

[2019-08-08 20:43] shadowspawn commented on #785
Done. Thanks.

[2019-08-09 00:44] abetomo commented on #1001
Was it okay to release it in v3.0.0?
May I run `npm publish`?

[2019-08-09 00:45] shadowspawn commented on #1001
Yes please. 👍 Thanks.

[2019-08-09 00:47] abetomo commented on #1001
3.0.0 released!

[2019-08-09 00:49] shadowspawn commented on #1001
Woop woop! 🚀 🎆

[2019-08-09 01:02] shadowspawn commented on #1001
On a related note, I was wondering if and how long we should officially support 2.x for security updates (if any).

My current thinking is support 2.x for at least a month until we have more feedback about how easily people can move from v2 to v3.

[2019-08-09 08:43] shadowspawn commented on #928
Support for combined `--foo` and `--no-foo` (thanks @usmonster), and for supplying a default boolean value has shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 08:43] #928 closed

[2019-08-09 08:46] shadowspawn commented on #108
Support for combined `--foo` and `--no-foo` has shipped in v3 (thanks @usmonster): https://github.com/tj/commander.js/releases/tag/v3.0.0

Closing second oldest open issue. Woop!

[2019-08-09 08:46] #108 closed

[2019-08-09 08:48] shadowspawn commented on #979
Support for combined `--foo` and `--no-foo` has shipped in v3 (thanks @usmonster): https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 08:48] #979 closed

[2019-08-09 08:53] shadowspawn commented on #985
Shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 08:53] #985 closed

[2019-08-09 08:57] shadowspawn commented on #613
The README has been updated in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 08:57] #613 closed

[2019-08-09 08:59] shadowspawn commented on #532
`.command` now supports the `executableFile` option (thanks to @abetomo).
Shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 08:59] #532 closed

[2019-08-09 09:00] shadowspawn commented on #481
`.command` now supports the `executableFile` option (thanks to @abetomo).
Shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 09:00] #481 closed

[2019-08-09 09:01] shadowspawn commented on #826
`.command` now supports the `executableFile` option (thanks to @abetomo).
Shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 09:01] #826 closed

[2019-08-09 09:09] shadowspawn commented on #533
If you are using the node inspector for debugging git-style executable (sub)commands using node -inspect et al, the inspector port is incremented by 1 for the spawned subcommand.

Shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

Thanks to suggestion by @tcf909

[2019-08-09 09:09] #533 closed

[2019-08-09 09:14] shadowspawn commented on #938
Reworked the README and JSDoc and TypeScript to hopefully make the two modes of operation clearer. Have not changed the runtime, but will close this issue and see how the changes help.

Shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 09:14] #938 closed

[2019-08-09 09:14] shadowspawn commented on #706
Reworked the README and JSDoc and TypeScript to hopefully make the two modes of operation clearer. Have not changed the runtime, but will close this issue and see how the changes help.

Shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 09:14] #706 closed

[2019-08-09 09:19] shadowspawn commented on #786
Reworked the README and JSDoc and TypeScript to hopefully make the two modes of operation clearer. Have not changed the runtime, but will close this issue and see how the changes help.

Shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 09:19] #786 closed, assigned to nobody

[2019-08-09 09:19] shadowspawn commented on #976
Reworked the README and JSDoc and TypeScript to hopefully make the two modes of operation clearer. Have not changed the runtime, but will close this issue and see how the changes help.

Shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 09:19] #976 closed

[2019-08-09 09:20] shadowspawn commented on #939
Support for combined `--foo` and `--no-foo` has shipped in v3 (thanks @usmonster): https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 09:20] #939 closed

[2019-08-09 09:23] shadowspawn commented on #47
Support for customising the version and help descriptions has shipped in v3 (thanks @idmontie): https://github.com/tj/commander.js/releases/tag/v3.0.0

Closing the oldest open bug. Woop!

[2019-08-09 09:23] #47 closed

[2019-08-09 09:27] shadowspawn commented on #395
Support for directly appending values to short options has shipped in v3 (thanks @TheRoSS): https://github.com/tj/commander.js/releases/tag/v3.0.0

As per previous comment, currently only working for action handler based subcommands.

[2019-08-09 09:27] #395 closed

[2019-08-09 09:30] shadowspawn commented on #877
Support for passing node options added in v3 (thanks @hxsf): https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-09 09:30] #877 closed

[2019-08-09 09:51] shadowspawn commented on #984
I think we could improve the custom option processing for options with optional values, but as it would be a breaking change, and we found a work-around, closing this issue.

(Future readers) Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you for your contributions.

[2019-08-09 09:51] #984 closed

[2019-08-09 15:01] vedmant commented on #44
This is one of first things I needed from this package and it's still not here?

[2019-08-09 21:54] shadowspawn commented on #44
@vedmant Not yet. See #230 for the open issue.

[2019-08-10 00:31] shadowspawn commented on #838
If you are using the node inspector for debugging git-style executable (sub)commands using node -inspect et al, the inspector port is incremented by 1 for the spawned subcommand.

Shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

Thanks to suggestion by @tcf909

[2019-08-10 00:35] shadowspawn commented on #473
Support for customising the version and help descriptions has shipped in v3 (thanks @idmontie): https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-10 00:38] shadowspawn commented on #739
Shipped in v3 (thanks @mojavelinux): https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-10 00:52] shadowspawn commented on #890
.command now supports the executableFile option (thanks to @abetomo).
Shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-10 00:52] shadowspawn commented on #714
.command now supports the executableFile option (thanks to @abetomo).
Shipped in v3: https://github.com/tj/commander.js/releases/tag/v3.0.0

[2019-08-10 01:35] shadowspawn commented on #759
A caveat that a previous attempt at indenting multiline descriptions was pulled after it broke user formatted help: #396

[2019-08-10 02:45] shadowspawn commented on #655
The idea of specifying subcommands as a command with multiple words is quite interesting, and I had not thought of it. I like the simplicity, but it feels like a work-around rather than a strong model for how commands are constructed.

I want to consider nested action-based commands before this. I am closing this in favour of #764

Thank you  for your contributions.

[2019-08-10 02:45] #655 closed

[2019-08-10 02:46] shadowspawn commented on #764
(Side note: #655 proposed space separated words to describe subcommands.)

[2019-08-10 03:10] shadowspawn commented on #563
Git-style executable (sub)commands are spawned separate commands. There is not a direct way from the subcommand to get at options that were declared on the outer program, and they are not passed to the subcommand as arguments. (You do have access to the parent command options if you instead use an action handler to implement the command.)

An idea for passing the parent options implicitly is to ad

[2019-08-10 03:23] shadowspawn commented on #962
I am going to close this in favour of #508, and add a note there about the good diagnosis and reproduction steps here.

Thank you  for your contributions.

[2019-08-10 03:23] #962 closed

[2019-08-10 03:24] shadowspawn commented on #508
This was reported again in #962 which has some good reproduction examples and discussion.

[2019-08-10 07:18] shadowspawn commented on #461
Took me a while to get on board with this one, but I now agree this is the correct behaviour and interested in making it happen.

The PR in flight is #614, and an easy code change. :-)

[2019-08-10 07:52] vedmant commented on #230
Can be better to add options in case something else has to be passed:

[code]
This also can distinguish from default value, as well as can accept just an object for all settings, this is convenient if options come from somewhere else:
[code]

[2019-08-11 05:35] shadowspawn opened #1014 "Update Chinese README for #1010 (.name and .usage)"
I updated the README in #1010 which has been merged to the develop branch.

I made the format changes in #1013 for the Chinese README but just copied the english text for the new section in the help.

A Pull Request, or just a translation of that section, is welcome.

[2019-08-11 05:38] shadowspawn commented on #1014
<pre>
### .usage and .name

 These allow you to customise the usage description in the first line of the help. The name is otherwise
 deduced from the (full) program arguments. Given:

[code]

 The help will start with:

[code]
</pre>

[2019-08-11 08:11] shadowspawn commented on #512
I hit this myself when I wrote some tests in a client application which called parse, and I forgot to supply the first two parameters.

Commander is currently expecting node conventions: https://nodejs.org/api/process.html#process_process_argv

I currently prefer the suggestion from the original poster to add a new method, rather than pass another parameter to parse, or somehow detect:

What might

[2019-08-11 08:37] shadowspawn commented on #385
Not currently planning to build tab completion into Commander itself, so closing this issue.

I am interested in this as a problem, so please let us know about packages which integrate well with Commander.

[2019-08-11 08:37] #385 closed

[2019-08-11 08:44] shadowspawn commented on #242
There is not currently a way to disable the auto-help, but from v3 there is `.helpOption` to customise the help flags and message.
https://github.com/tj/commander.js/releases/tag/v3.0.0

This issue has not had any activity in years. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for you

[2019-08-11 08:44] #242 closed

[2019-08-11 08:55] shadowspawn commented on #346
Reading through the closed duplicate bugs, I saw links from tslint and yargs noticing this issue.

[2019-08-11 09:18] shadowspawn commented on #346
This issue was fixed by #494.

Thank you  for your contributions.

[2019-08-11 09:18] #346 closed

[2019-08-11 15:04] jamesgeorge007 opened #1015 "Have in-house support in-order to recommend matching commands"
[yargs](https://github.com/yargs/yargs) comes shipped with a `recommendCommands()` method as part of the public API. It would be great if commander.js would have it as well :clap:

[code]

`sample creat`
[code]

[2019-08-11 15:05] jamesgeorge007 commented on #1015
@shadowspawn I would love to submit a PR if you could throw light on the implementation strategy :+1:

[2019-08-12 05:41] oGsLP commented on #1014
[code]

 帮助信息会以此开头：

[code]
[code]

[2019-08-12 05:46] shadowspawn commented on #1014
Thanks @oGsLP ! I'll get add this to my Pull Request.

[2019-08-13 09:55] shadowspawn commented on #749
I was chasing some different issues, and independently came to same conclusion as @mojavelinux:

Working on this currently.

[2019-08-13 09:56] shadowspawn commented on #386
Working on this currently.

[2019-08-14 04:46] jamesgeorge007 commented on #1015
@shadowspawn @oGsLP thoughts :thinking:

[2019-08-14 05:07] oGsLP commented on #1015
Only for me, I think it's not necessary. People can realize it by
[code]
And we can find a npm package named `didyoumean` to customzie `suggestCommand(cmd)` easily.

I'm not familiar with yargs, it seems that it doesn't have an api to match regex cmd like '*' so it has `recommendCommands()` to handle this. But commander do.

[2019-08-14 06:16] shadowspawn commented on #1015
I do not think it likely I would accept a PR for this currently, as we still have some improvements to make in whether Commander warns about unrecognised commands in the first place. (So not "in-house support".)

I am interested in how to add possible matches, and currently that would be in own code or in an add-on package. Also interested in how popular an idea this is, so feel free to leave this

[2019-08-14 06:18] shadowspawn commented on #1014
(The translation has been added to develop branch for next release.)

[2019-08-14 06:18] #1014 closed

[2019-08-15 02:35] bschlenk opened #1019 "Type definitions for CommanderStatic missing `rawArgs`"
The `CommanderStatic` type, or probably the `Command` that it inherits from (defined [here](https://github.com/tj/commander.js/blob/fea94a9feccdc234fead2d74c9bcdc72e598186d/typings/index.d.ts#L28)) should include a `rawArgs` property that is defined as `string[]`. Is there a reason this was omitted from `Command`? If not, I'm open to submitting a pull request.

[2019-08-15 02:38] shadowspawn commented on #1019
Thanks, I will look into it. The TypeScript definition does deliberately leave out some properties and methods that never got promoted to fully public and supported.

[2019-08-15 08:51] shadowspawn commented on #1019
Ok to add if you would find it useful, in `Command` along with

[code]

[2019-08-15 08:57] shadowspawn commented on #983
A reply was provided, and no further activity in a month. Closing.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

[2019-08-15 08:57] #983 closed

[2019-08-15 10:42] dehghani-mehdi opened #1020 "Can not use action as option name"
Hi,

Consider following code:

[code]

When I call it like this: `command NAME -a`, the output will be:

[code]

But when I call it like this: `command NAME -a -a`, the output will be:

[code]

Now if I change `.option("-a, --action", "Action")` to `.option("-a, --action_", "Action")` and `console.log(`action: ${options.action}`);` to `console.log(`action: ${options.action_}`);` and call it like t

[2019-08-15 11:13] shadowspawn commented on #1020
The option values are added as properties on a Command object. This can conflict with properties which are already part of a Command, like in the case of an `action` option, the `.action` method!

This was a tradeoff in the original design. The work-around is to use a different option name.

The reference open bug is #183.

[2019-08-15 12:11] dehghani-mehdi commented on #1020
I'm working on react related project and I have to use `action` as option name (_`redux's action`_) and using other name is not good for me. I think you should handle it, e.g: use something like `__action`.

[2019-08-15 13:15] m67hoff commented on #1007
Hi thanks,

ok I thought there is an easier possibility, but for int you really need to "cast"  parseInt to a function that accepts only one parameter, otherwise the default is "misunderstood" as parseInt second radix parameter.

So works:
[code]

[2019-08-15 13:16] #1007 closed

[2019-08-16 00:40] shadowspawn commented on #1020
Fixing the name pollution properly is hard due to existing client usage. The triage issue where I am collecting name pollution issues is #933. The draft Pull Request where I am experimenting is #951.

[2019-08-16 04:12] dehghani-mehdi commented on #1020
Great.

For now I used `rawArgs` to check if `action` is provided by user.

[2019-08-17 05:55] shadowspawn commented on #921
After deeper analysis I discovered that there are different behaviours depending on whether there is an action handler attached to the program. #965 is targeting the case when there is an action handler, and original report in #561 covering no action handler. Not sure which case applies to `taiko` but have an open PR and an open issue to cover the two possibilities, so will still leave this closed

[2019-08-17 06:20] shadowspawn commented on #561
#965 will fix the detection of unknown options in the case the program has an action handler. The original report in this issue (https://github.com/tj/commander.js/issues/561#issue-172306010) does not have an action handler so won't be changed by #965.

[2019-08-18 02:17] shadowspawn commented on #1015
I came across an implementation in comments:  https://github.com/tj/commander.js/issues/432#issuecomment-175785162

[2019-08-18 06:44] shadowspawn commented on #546
This issue has not seen much activity in the passing years. Feel free to open a new issue if it comes up again, with new information and renewed interest.

Closing in favour of #230.

Thank you  for your contributions.

[2019-08-18 06:44] #546 closed

[2019-08-18 07:28] shadowspawn commented on #684
No longer reproducible in v3. The executable lookup got reworked to add support for `executableFile` command option, and perhaps indirectly fixed this particular case.

[2019-08-18 07:28] #684 closed

[2019-08-18 17:30] RonWang commented on #242
Still need this feature in great demand, as we want to add ASCii art for our CLI name at the front of the help message, and correct some help message auto-generated but not useful for our case. Appending on '--help' event won't help. Isn't this not supported in the short term?

[2019-08-18 17:42] RonWang opened #1023 "Customize help message for a command"
Our goal: customize the help message for the root command.

Existing solution won't help, because we need to append the message on top of auto-gen help, and also modify the auto-gen help a little bit.

Context for our cmd app: below is the root cmd, and we have a `sub-cmd` under the root as well as a `git-style-sub-command`.

[code]

In the example I tried using option('-h, --help'), the console.l

[2019-08-18 17:44] RonWang commented on #1023
lol great post! #1111111111(2)

[2019-08-19 06:32] shadowspawn commented on #1023
I'll try and explain what is happening with what you tried.

[code]

This adds an option which effectively overrides the built-in help since it uses the same flags. The callback is used for  "Custom option processing" and covered in the README.

Flags are treated as "global" and these three calls get processed much the same way and call your action handler:

[code]

This approach would let you cus

[2019-08-19 07:24] shadowspawn commented on #230
Thanks for the aws example @mrgrain. I tracked down the associated help, and aws explicitly marks all the optional options. Not what I want to do, but interesting.

[code]

[2019-08-19 08:31] shadowspawn commented on #230
Syntax:
- a suggestion in #462 is adding `.requiredOption()`
- a suggestion in #44  is adding * to flag like `.option('-b, --bar*', 'add some bar - mandatory');`

[2019-08-19 08:52] Piccirello commented on #944
Is this issue fixed now that v3 has been released?

[2019-08-19 09:16] shadowspawn commented on #944
Around half of the referenced issues are now closed,  and `executableFile`allows a work-around for some of the open issues, but there are still multiple open issues.

[2019-08-20 17:17] a-fas commented on #764
Submitted a PR, with docs and examples. Sorry for taking so long. :)

@alexstandiford on options: it does support them, the tricky thing is that the option you are looking for may be in parent ... or parent of parent ... I faced that too so I'm using another util to collect all the options from all levels. I submitted it within the PR. Here is the code just for reference + have a look at readme ch

[2019-08-22 22:28] Piccirello opened #1025 "help command not respecting executableFile option"
Using commander v3.0.0, I have a command that specifies the `executableFile` option:

[code]

The `list` command in `cli/list.js` specifies its name and some subcommands (only one listed for brevity):

[code]

Calling `testapp list --help` works as expected, but `testapp help list` throws an error. It appears `help` is trying to load `cli-list.js` rather than the file specified by `executableFile`

[2019-08-23 01:20] shadowspawn commented on #1025
Thanks for the clear report and reproduce detail.

There is a Pull Request (thanks to @nazieb) which has been accepted onto the develop branch which should fix this: https://github.com/tj/commander.js/pull/1018

We have some other PR close to ready, but I think we might ship a v3.0.1 and not wait. It is great that people are using the new configuration option. I'll fix the TypeScript omission and

[2019-08-23 01:25] Piccirello commented on #1025
Excellent! Thanks for the heads up @shadowspawn, and for the fix @nazieb.

[2019-08-23 01:25] #1025 closed

[2019-08-25 14:29] a-fas commented on #764
Replying here to a question from #1024 to keep the discussion centralized (P.S. PR number 2<sup>10</sup> - nice ! 😜  )

I'm using the following approach:

- There is a main module, which imports the commander and define the first level of commands and options
- Then there are "submodules" which do the job and have to export their subcommand structure somehow
- However `forwardSubcommands` must be

[2019-08-25 23:01] alexstandiford commented on #764
I think your first example is better. I _really_ like it because it feels a little more like you’re writing a mongoose model, or something like that.

Can you elaborate on this a bit? I’m not sure I understand.

[2019-08-26 14:58] sbcgua commented on #764
Hmmm, you mean the very first example ? With function ?
It's not my favorite because the upper level (main.js) actively passes an object into a lower level (featureX) where this object is somehow unpredictably modified. This is not transparent and confusing imho. But not that it is terrible - probably just the matter of preference :)

I just meant kind of information encapsulation - the descriptio

[2019-08-26 14:59] a-fas commented on #764
Hmmm, you mean the very first example ? With function ?
It's not my favorite because the upper level (main.js) actively passes an object into a lower level (featureX) where this object is somehow unpredictably modified. This is not transparent and confusing imho. But not that it is terrible - probably just the matter of preference :)

I just meant kind of information encapsulation - the descriptio

[2019-08-26 20:13] ngocdaothanh commented on #1002
Workaround: use a wrapper.

Example (TypeScript):

[code]

[2019-08-26 20:13] #1002 closed

[2019-08-26 20:27] ngocdaothanh commented on #945
Yes, please simply throw errors. The outer program can catch the errors and handle them properly.

[2019-08-26 20:44] ngocdaothanh commented on #230
I prefer that too.

[2019-08-27 08:23] a-fas commented on #764
Ah, then it is OK :)

In fact, I think example 1 and 3 do not contradict each other, maybe both can be implemented, with the 3rd being the recommended way. I'll have a look - will adjust the PR.

[2019-08-27 08:24] mrgrain commented on #230
Yes, they do it pretty much the other way around and documentation-wise the square brackets are certainly common. But for now anyway of requiring an option to be present would be nice. One can always add their own message styling.

I'm very much like `.requiredOption()`.

[2019-08-28 04:05] lastmjs opened #1031 "Add Ethereum name or address to package.json"
I would like to see an Ethereum name or address added to the ethereum field of the package.json file. This will allow consumers of the project to know a canonical address to send funds to. For example, I'm building an application that will allow developers to automatically donate ETH to all of their npm dependencies that have Ethereum addresses in their package.json files: https://sustainus.io

[2019-08-28 04:40] shadowspawn commented on #1031
I am dubious about adding a specific service name at the top level of the `package.json` for a 2 week old project. Good luck, but no thanks at this stage.

[2019-08-28 08:27] shadowspawn commented on #945
I think being able to opt-in to using a throw makes good sense. But I think it is a bit untidy for default handling of expected errors with the source line number and code? Compared with just a message intended for humans.

[2019-08-28 09:35] shadowspawn commented on #764
I do like example 3 from https://github.com/tj/commander.js/issues/764#issuecomment-524634727 for cases where want to separate out the `.action` implementation from the top-level program, and avoid the subcommand being in control.

I do not like adding _another_ overload of `.command`. Although the syntax is likely clear enough when reading a working program, I think overloads with different param

[2019-08-28 10:56] oliversturm commented on #978
Hi,

I'm trying to use a mechanism similar to your sample, but there's some strange behavior. Here's my test code:

[code]

The simple idea is that if a command is given, it should be executed (and nothing else). If no command is given, the default logic at the bottom should execute (but not otherwise). In all cases, the global option `--load` should be supported.

This works correctly when I exec

[2019-08-28 11:42] shadowspawn commented on #978
@oliversturm
I reproduced and think process.arg being empty is a bug. There may be some overlap with #508 or #561, but your failure mode is different than those issues, if you would like to open it as a new issue.

(I feel I have seen similar problems with some of the flag parsing assuming the flag takes a value, but didn't find an open one.)

[2019-08-28 11:59] oliversturm opened #1032 "Passing command option leaves content in args"
As [discussed here](https://github.com/tj/commander.js/issues/978#issuecomment-525692913), opening as a new issue.

I'm trying to find out whether a command has been executed. The simple idea is that if a command is given, it should be executed (and nothing else). If no command is given, the default logic at the bottom should execute (but not otherwise). In all cases, the global option --load shou

[2019-08-28 12:01] oliversturm commented on #978
@shadowspawn Thanks, I opened a new issue. I think it would be great if there was some "standard" way of detecting whether a command action has already been executed - seems like a rather obvious thing to me. I was endlessly hunting around for a way to specify an action that would execute when *no* arguments are given on the command line. Then I found that this isn't possible and instead I need to

[2019-08-28 17:21] a-fas commented on #764
why "another" ? It doesn't have overloads of the first param at the moment, or I'm missing something ? I partially agree, but here I'm out of new ideas :) A straight forward option would be smth like:

[code]
where all 3 options are accepted + a non-empty parameter for name and description have higher priority than the one defined inside the subcommand (??? imho)

Though I still think that `.comma

[2019-08-29 09:16] ChristofferSkog21st commented on #438
Are there any unit testing examples? Haven't been able to find any.

[2019-08-29 09:24] shadowspawn commented on #438
There are the unit tests for Commander itself. Most of them predate the "new commander.Command" style but these two got updated recently.

- https://github.com/tj/commander.js/blob/master/test/test.options.bool.no.js
- https://github.com/tj/commander.js/blob/master/test/test.options.bool.js

[2019-08-29 09:27] ChristofferSkog21st commented on #438
@shadowspawn Yeah saw those, thanks. I can't find any way of testing commands that have prompts in them though, is that even possible?

[2019-08-29 09:33] shadowspawn commented on #438
What prompts? I have seen Commander did once support prompts (e.g. #163) but not since I started using it, so that might be another library.

[2019-08-29 09:35] ChristofferSkog21st commented on #438
I'm using this https://www.npmjs.com/package/prompt to prompt for login details for the database for example. So the flow would be:

- Run command
- Fill in username + password
- Check result

Step 1 and 3 are simple enough but the prompt bit I'm unsure of how to achieve.

[2019-08-29 09:40] shadowspawn commented on #438
Sounds like a question for Prompt rather than Commander! But as a suggestion, you could read the login details from environment variables for testing purposes to avoid the interactive prompt.

[2019-08-29 09:49] ChristofferSkog21st commented on #438
Hmm not a half bad idea that. Would require some code tweaks but should be easy enough, thanks :)

[2019-08-29 10:50] shadowspawn commented on #764
I put recent work into trying to make it clearer that there are two ways to declare a command depending on whether intend using an `.action` handler or separate executable file due to the ongoing confusion between the two styles of calling `.command`.

- https://github.com/tj/commander.js/blob/fea94a9feccdc234fead2d74c9bcdc72e598186d/index.js#L114
- https://github.com/tj/commander.js/blob/fea94a9f

[2019-08-29 11:02] shadowspawn commented on #1032
(Thanks @oliversturm )

[2019-08-29 22:58] dennisdupont opened #1033 "Conflict with global options and command specific options"
When .command() is called with options that are the same as the global options (aka top level options), then command specific option is parsed as if it were the top level option instead and the command specific option value is never defined.
[code]

If the above is invoked (assume linked or globally installed) as
```> app f -f someFile```
then I would expect options.destFile to have the value "som

[2019-08-30 00:14] shadowspawn commented on #1033
Global options are not positional, and are processed before checking the command options. This could be thought of as similar to options coming before or after arguments.

So these are effectively the same:
[code]
and
[code]

There is not currently support for positional global options.

[2019-08-30 08:56] shadowspawn commented on #902
Added `.name` and `.usage` to README in v3.0.1

[2019-08-30 08:56] #902 closed

[2019-08-30 10:06] shadowspawn commented on #1009
And some minor fixes and additions:  https://github.com/tj/commander.js/releases/tag/v3.0.1

[2019-08-31 00:09] shadowspawn commented on #1031
I came across two discussions today, one of which I see you commented on:
- https://github.com/nodejs/package-maintenance/blob/master/docs/drafts/PACKAGE-SUPPORT.md
- https://github.com/npm/cli/pull/187

And also somewhat related:
- https://blog.npmjs.org/post/187382017885

I'm interested in seeing what comes of these.

[2019-08-31 00:09] #1031 closed

[2019-08-31 01:11] lastmjs commented on #1031
Yes, I'm especially excited for what npm is about to do

[2019-08-31 21:43] ngocdaothanh commented on #945
To be backward compatible, we can add an option to:
```Command.prototype.parse = function(argv)```

like this:
```Command.prototype.parse = function(argv, exitOnError = true)```

[2019-08-31 22:17] ngocdaothanh opened #1036 "Support using a function to get default value for option and arg"
I have a use case like this:
If a required option or arg is not given, fall back to using [Inquirer.js](https://github.com/SBoudrias/Inquirer.js) to prompt users to input.

The current signature of `#option`:
[code]

One solution to my use case is to change it to this:
[code]

When `defaultValueOrFn` is a function, it will return a `Promise` containing the default value.

Similarly for `#parseExpe

[2019-08-31 23:03] shadowspawn commented on #1036
Work-arounds:

For options, you could prompt for missing values after the parse.

For non-option arguments, a missing required argument is intended to generate an error (although there are some holes in the error detection!). For some cases you might be able to mark the argument as optional rather than required and prompt for missing values after the parse.

(There is a long thread discussing mand

[2019-08-31 23:18] shadowspawn commented on #1036
That won't work with the existing call patterns. The default value is used as a starting value for custom option processing:
https://github.com/tj/commander.js#custom-option-processing

[2019-09-01 00:12] ngocdaothanh commented on #1036
https://github.com/tj/commander.js#custom-option-processing

I think there's a bug (if it's not a bug, then it's perfect for my proposed solution about `defaultValueOrFn`):
* An option is optional, and both custom option processing function and default value are set. When run users do not provide value for the option.
* Actual behavior: the function is no called.
* Expected behavior: the function

[2019-09-01 00:41] ngocdaothanh commented on #1036
Please let me explain the motivation behind this feature request:

For a good user experience, when we design a command like this:

[code]

We want to communicate with users that:
Logically (business logic), for this command to work, users need to specify arg1 and option1. They are required for the business logic.

When users do not specify arg1 and option1, displaying prompts (using Inquirer) is

[2019-09-01 00:43] shadowspawn commented on #1036
The custom option processing is only called when the option is specified on the command line.

[2019-09-01 00:53] shadowspawn commented on #1036
Thank you for the nice explanation.

(My suggested work-around was not a solution, just an idea for offering prompt without changing Commander.)

[2019-09-01 04:57] shadowspawn commented on #230
I do also like the idea in principle of supporting an options/settings parameter to allow for future additions: https://github.com/tj/commander.js/issues/230#issuecomment-520127955

But I think it needs to be a new method as `.options` has enough overloads already. I remembered a pattern I think from the Windows API, where X stands for extra or extended and means there is an extra parameter with s

[2019-09-01 22:48] ngocdaothanh commented on #1036
I'm thinking about a workaround by wrapping `Command` like this:

Use `myOption` and `myAction` to wrap `Command#option` and `Command#action`.

When
[code]
is called, call
[code]
to parse the option (`required` is not actually required)

Then override
[code]
so that when help for the option is displayed, users will see
[code]

Also set
[code]

When `myAction(actionFn)` is called, check `requiresFa

[2019-09-02 07:33] shadowspawn commented on #649
Started move to Jest in #1035.

[2019-09-02 10:09] marcopetreri opened #1037 "TS error when using imported Command type"
As described in the example below I cannot use **Command** type in types definitions because of this error:
[code]
Example
[code]

[2019-09-02 10:29] shadowspawn commented on #1037
I was not able to reproduce this with typescript 3.6.2 and this program fragment. Someone else might recognise the error, or you could add some more context.

[2019-09-03 11:07] shadowspawn commented on #945
I am experimenting with a routine to optionally replace calls to `process.exit`. Since the most likely implementation is to throw, it is passed an Error ready to throw. e.g.

[code]

The custom error has properties for `exitCode`, `code`, and `message`. For example, the `--version` handling creates an error like this:

[code]

I'm currently just replacing the call to `process.exit` and not changin

[2019-09-03 23:44] shadowspawn commented on #575
I have started work on an exit override: https://github.com/tj/commander.js/issues/945#issuecomment-527412375

[2019-09-03 23:46] shadowspawn commented on #934
I have started work on an exit override: https://github.com/tj/commander.js/issues/945#issuecomment-527412375

[2019-09-05 09:24] shadowspawn commented on #766
This issue has not had any activity in over six months. It isn't likely to get acted on due to this report.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Thank you  for your contributions.

[2019-09-05 09:24] #766 closed

[2019-09-06 00:48] shadowspawn commented on #1036
I think it may be too complicated to add this behaviour for a special case. I am painfully aware that took years to catch up with adding a parameter to turn the coercion function into a more general purpose custom option processing. This feels a bit similar.

More specifically though, I want to add support for mandatory options before trying to add support for prompting for their value.

[2019-09-06 20:06] claytongulick commented on #905
I'm running into this as well. Not sure what the correct approach is.

My structure looks like this:
Top command: reporting (this is npm linked)
Sub commands: reporting-datapump, reporting-scheduler (these are all also npm linked bins)
Sub Sub commands: reporting-datapump clean [options] - this has an action handler, and does the work.

So, from what I can tell, there's no way to get what the [opt

[2019-09-06 23:08] #1009 closed

[2019-09-08 03:56] shadowspawn opened #1038 "POLL: API for mandatory options"
The most upvoted and second oldest open issue is #230 to add support for mandatory options which must be specified on the command line.

(This is in addition to the existing support for options with a required value when the option is specified.)

There have been a number of possible forms for the API proposed. Which one would you like to see implemented? You can vote 👍  for more than one, and can

[2019-09-08 04:00] shadowspawn commented on #1038
`program.requiredOption('-f,--foo <value>', 'foo must be supplied');`

[2019-09-08 04:02] shadowspawn commented on #1038
`program.optionEx('-f,--foo <value>', 'foo must be supplied', { required: true });`

[2019-09-08 04:03] shadowspawn commented on #1038
program.requiredOption('-f,--foo* <value>', 'foo must be supplied');

[2019-09-08 04:09] shadowspawn commented on #230
I added an issue to get some visibility on possible API, vote for preferred API there: #1038

[2019-09-08 09:46] snowman opened #1039 "*Bug* When specify none-defined options followed by values don't exit program with error"
[code]

[code]

dependency:
[code]

Expecting exit code with an error instead of continue of it.

[2019-09-08 11:30] shadowspawn commented on #1039
Reproduced.

[2019-09-11 02:50] lxfriday opened #1041 "not executable. try chmod or run with root"
![image](https://user-images.githubusercontent.com/20264467/64664371-8e9c7a00-d481-11e9-94c9-517d8a2c2a96.png)
I have 2 files to  exec, but when I install my cli from npm, I cannot exec It

[code]

![image](https://user-images.githubusercontent.com/20264467/64664395-ac69df00-d481-11e9-8646-d3190043d356.png)

[2019-09-11 02:56] lxfriday commented on #1041
This is the entry file
![image](https://user-images.githubusercontent.com/20264467/64664761-b8a26c00-d482-11e9-98c6-42073870f88e.png)

[2019-09-11 07:35] shadowspawn commented on #1041
(Including the actual code and error message as text is better for reporting issues than pictures, so it can be searched, and I can copy-and-paste it to reproduce the problem too.)

[2019-09-11 07:37] shadowspawn commented on #1041
The first approach is to make your subcommand a real executable. Your `woodpecker-inject` file needs to have the first line say how it is executed, which for a javascript file is usually:

[code]

And the subcommand file needs be executable:

[code]

then you can check it is executable by trying to run it directly on command line like:

[code]

The second approach for a javascript file is you coul

[2019-09-12 01:56] lxfriday commented on #1041
Thank you very much, your second approach solved my problem. And I have another way to fix this.

I add `woodpecker-inject` file into `package.json`  `bin` field, when I install my cli  globally, npm will automaticly make it executable.

[2019-09-12 02:08] lxfriday commented on #1041
Add the original problem,

[code]
files
[code]

`woodpecker-inject` is a javascript file. I added `#!/usr/bin/env node` at first line. But when installed, the file is not executable.

[2019-09-12 02:08] #1041 closed

[2019-09-12 02:15] shadowspawn commented on #1041
Thanks @lxfriday

[2019-09-12 17:55] ngduc opened #1042 "Add an guide article link to Readme"
Thanks for creating this great library @tj
I'd like to add an guide article link to Readme:

[How to create your command-line program (CLI) with NodeJS and Commander.js](https://medium.com/@ngduc/how-to-create-a-command-line-npm-module-cli-using-commander-js-1073e616aee7)

Can I create a PR ?

[2019-09-13 00:08] #1042 closed, assigned to nobody

[2019-09-13 12:59] shadowspawn commented on #997
I saw a related article tonight: https://www.jstorimer.com/blogs/workingwithcode/7766119-when-to-use-stderr-instead-of-stdout

[2019-09-13 23:40] orozcojd opened #1043 "Can't access options when chaining .command"
<h1> Consider the following code</h1>

[code]
<h6> When running the following command </h6>

`document 'cr-123' -post`

<h1> Produces the following </h1>

[code]

<h6>My help menu looks like the following </h6>

[code]

However, when I switch the ordering of the .command and .options to the following, it prints out as true but my options don't appear in my help menu when triggered.

[code]
`option

[2019-09-13 23:54] shadowspawn commented on #1043
In the first case, the post option is defined on the program. The action handler is passed the command object, which does not include the "parent" options. You can test `program.post` rather than `options.post`.

[code]

[code]

[2019-09-13 23:57] shadowspawn commented on #1043
In the second case (help), Commander only shows the commands and not their options from the top level help. You can see the detail for a command by getting its help, like:

[code]

[2019-09-14 00:04] shadowspawn commented on #1020
Added to the triage issue #933
Closing as duplicate of #183

Thank you  for your contributions.

[2019-09-14 00:04] #1020 closed

[2019-09-14 00:09] shadowspawn commented on #1019
Closing as not planning to act on this report myself, but PR still welcome.

Thank you  for your contributions.

[2019-09-14 00:09] #1019 closed

[2019-09-14 00:12] orozcojd commented on #1043
Firstly, thank you for the quick response. I was interpreting the usage incorrectly. Your instructions make it a lot clearer how this works.

Thanks again!

[2019-09-14 00:12] #1043 closed

[2019-09-14 02:13] samherrmann opened #1044 "Sub-commands do not work with package.json main"
Consider the following setup:

lib/index.js
[code]

lib/myUpdateSubCommand.js
[code]

package.json
[code]

# What works:
[code]

# What does not work:
[code]

# Expected Behavior
It's expected that executing `node . update` yields the same result as executing `node dist/index.js update`.

# Where the problem is:
The path to the sub-command is determined from [argv[1]](https://github.com/tj/command

[2019-09-14 03:16] shadowspawn commented on #1044
Yes, for resolving subcommand executables Commander expects `argv[1]` is either the source file, or the installed binary command (i.e. a symbolic link). There is not currently support for coping with a package being passed to node (like when you call `node .`).

The approach I often use is a setup closer to the eventual install. So with a `package.json` like:

[code]

Instead of `node .` I use:

[

[2019-09-14 03:26] shadowspawn commented on #1044
Related issue, when calling from Electron app: #512

[2019-09-14 06:58] shadowspawn opened #1045 "Only officially support node 8 and higher from Commander v4"
We have been planning for a long time to use more modern javascript features, but changes will break older versions of node and we do not have a documented policy.

Node 8 is the oldest version in LTS. I suggest we only officially support node 8 and higher from Commander v4.

However, I suggest we actually target node 6 when considering language features and not deliberately break node 6 until the

[2019-09-14 23:40] shadowspawn commented on #1039
This old PR looks like same issue: #121

[2019-09-16 21:17] a-fas commented on #764
added some draft code, see 372b7becc72dd003468fa6a8694849f96404dfc6
the method is called `useSubcommand`
still needs some fine tuning and cleanup of previous version

[2019-09-17 09:21] shadowspawn commented on #1039
Likely to be same issue as #561

[2019-09-17 12:25] fson commented on #1037
I have made a minimal repoducible example for this issue: https://github.com/fson/commander-ts-repro.

When you compile the code using `npm run build`, it results in the following errror:

[2019-09-17 12:31] fson commented on #1037
I also found a workaround: in some cases, the error went away after changing the exported function from an arrow function like this:
[code]
to a function expression:
[code]

[2019-09-18 07:02] ArtemDordovskyi opened #1046 "Node option max_old_space_size example"
Could you please add an example how to use --max_old_space_size=4096 with command 'start'?
[code]

[2019-09-18 07:32] shadowspawn commented on #1046
You set the node flags for the whole javascript program.

You have two options, specify it on the command line when you run your source file like:

[code]

Or on Linux and Mac you can specify flags in the "hashbang" line for when the program is executed directly, like say:

[code]

And then when run:
[code]

[2019-09-18 07:56] ArtemDordovskyi commented on #1046
Can I always run with this option my command ```start``` or I always should add it custom?

[2019-09-18 08:00] ArtemDordovskyi commented on #1046
Thank you. That is what I want.

[2019-09-18 08:00] #1046 closed

[2019-09-18 12:17] shadowspawn commented on #1037
Reproduced issue, and workaround, from @fson. (Thanks!)

Still trying to make sense of the local namespace pattern being used in the Commander definitions file.

[2019-09-22 05:42] shadowspawn commented on #635
We are currently trying the GitHub Actions beta, with Windows enabled as a platform.
#1027

[2019-09-22 05:47] shadowspawn commented on #1000
There are improvements on the develop branch for the next release (#1030 and #1048).

[2019-09-22 05:48] shadowspawn commented on #749
There are improvements on the develop branch for the next release (#1030 and #1048).

[2019-09-22 05:48] shadowspawn commented on #386
There are improvements on the develop branch for the next release (#1030 and #1048).

[2019-09-22 05:49] shadowspawn commented on #461
There are improvements on the develop branch for the next release (#614 and #1047).

[2019-09-22 05:50] shadowspawn commented on #759
There are improvements on the develop branch for the next release (#956 and #1051).

[2019-09-22 05:52] shadowspawn commented on #934
There are improvements on the develop branch for the next release (#1040).

[2019-09-22 05:52] shadowspawn commented on #575
There are improvements on the develop branch for the next release (#1040).

[2019-09-22 05:52] shadowspawn commented on #945
There are improvements on the develop branch for the next release (#1040).

[2019-09-22 05:54] shadowspawn commented on #649
Moved to Jest on the develop branch for the next release (#1035).

[2019-09-22 05:55] shadowspawn commented on #586
Removed `customFds` on the develop branch for the next release (#1052).

[2019-09-25 06:29] saivan opened #1055 "Optionally pass options as an object"
Now that we can destructure arguments to options, perhaps it would be useful to
have the ability to pass options as an object to the handler. So we could do

[code]

The benefit here is, say I had some special setup function, I don't need to rely on the order of my arguments. Etc:

[code]

So I could reuse doSetup all over my code, without needing to worry about the order that commands get passed

[2019-09-26 18:17] Bluscream opened #1057 "Prevent input/output mixing in Node.js console?"
Can i do https://stackoverflow.com/questions/31359231/prevent-input-output-mixing-in-node-js-console with commander.js?

![](https://i.stack.imgur.com/2Gbp0.png)

[2019-09-27 01:32] shadowspawn commented on #1057
Commander does not prompt for input or do any cursor manipulation, so it isn't going to help you do that. It might work with whatever else you do.

[2019-09-27 01:52] Bluscream commented on #1057
Thanks

[2019-09-27 01:52] #1057 closed

[2019-09-27 11:43] jamesgeorge007 commented on #1015
@shadowspawn what about documenting how to achieve it with [didyoumean](https://www.npmjs.com/package/didyoumean).
I would happily submit a PR :+1:

[2019-09-27 23:22] shadowspawn commented on #1015
Same feedback as building it in, I do not think it likely I would accept a PR for this currently. If the code is not huge, you could simply add it as a comment here though.

[2019-09-29 07:31] jamesgeorge007 commented on #1015
A typical implementaion would be:-
[code]

[2019-09-30 04:58] jamesgeorge007 opened #1064 "Any random string (glob) supplied along with version and help flags is treated in the same way"
[Mevn-CLI](https://github.com/madlabsinc/mevn-cli)
[code]

[code]

Any random string supplied along, for instance `mevn -Vxyz` or `mevn -hxyz` seems to produce the same output as above.

[2019-09-30 05:08] shadowspawn commented on #1064
This is actually expected behaviour. Expected in the sense that once you know what is happening, it makes more sense! The version and help option handling short-circuit further processing.

https://github.com/tj/commander.js#options

So `mevn -Vxyz` is expanded to `mevn -V -x -y -z`. The version flag means the version is displayed and Commander exits without processing the other arguments/options.

[2019-09-30 05:52] AparnaaKS opened #1065 "Command insensitive"
Can you make the commands to be case insensitive? The commands are case sensitive right now.

[2019-09-30 05:56] shadowspawn commented on #1065
No, there is not support for case insensitive. You might be able to achieve that by preprocessing the arguments before you call parse?

[2019-09-30 06:51] #1064 closed

[2019-10-01 08:56] shadowspawn opened #1067 "v4.0.0 prerelease available"
Release Notes here: https://github.com/tj/commander.js/releases/tag/v4.0.0-0

You can try the prerelease with:

    npm install commander@next

or from the github branch if you prefer:

    npm install tj/commander.js#develop

Open an issue or add a comment here for any problems you encounter.

[2019-10-01 09:04] shadowspawn commented on #586
v4.0.0-0 prerelease published: #1067

[2019-10-01 09:05] shadowspawn commented on #649
v4.0.0-0 prerelease published: #1067

[2019-10-01 09:05] shadowspawn commented on #945
v4.0.0-0 prerelease published: #1067

[2019-10-01 09:05] shadowspawn commented on #575
v4.0.0-0 prerelease published: #1067

[2019-10-01 09:06] shadowspawn commented on #934
v4.0.0-0 prerelease published: #1067

[2019-10-01 09:06] shadowspawn commented on #759
v4.0.0-0 prerelease published: #1067

[2019-10-01 09:06] shadowspawn commented on #461
v4.0.0-0 prerelease published: #1067

[2019-10-01 09:07] shadowspawn commented on #386
v4.0.0-0 prerelease published: #1067

[2019-10-01 09:07] shadowspawn commented on #749
v4.0.0-0 prerelease published: #1067

[2019-10-01 09:07] shadowspawn commented on #1000
v4.0.0-0 prerelease published: #1067

[2019-10-02 07:11] shadowspawn commented on #1033
An answer was provided, and no further activity in a month. Closing this as resolved.

Feel free to open a new issue if it comes up again, with new information and renewed interest.

Having support for positional vs global options is a possible enhancement. There are not any open issues raising that possibility.

[2019-10-02 07:11] #1033 closed

[2019-10-02 07:59] shadowspawn commented on #521
There was an answer posted to the original post, which was options for a subcommand with an action handler.

There was an example posted for option getting passed down into sub-sub-command.

#563 is an open issue about program level options being available to executable subcommands.

Closing this issue as not covering something that will be actioned. Feel free to open a new issue if it comes up ag